<div class="app-overview-section">
  <div class="app-overview-cards govuk-!-margin-bottom-4">
    <a href="/cases/shortcut/triage" class="app-overview-card app-overview-card--blue">
      <span class="app-overview-card__count">{{ triageCaseCount }}</span>
      <span class="app-overview-card__status">{{ triageCaseCount | pluralize("case needs", "cases need") }} triage</span>
    </a>
    <a href="/cases/shortcut/charging-decision-needed" class="app-overview-card app-overview-card--purple">
      <span class="app-overview-card__count">{{ chargingDecisionNeededCaseCount }}</span>
      <span class="app-overview-card__status">{{ chargingDecisionNeededCaseCount | pluralize("case needs", "cases need") }} a charging decision</span>
    </a>
    <a href="/cases/shortcut/first-hearing-needed" class="app-overview-card app-overview-card--green">
      <span class="app-overview-card__count">{{ firstHearingNeededCount }}</span>
      <span class="app-overview-card__status">{{ firstHearingNeededCount | pluralize("case needs", "cases need") }} a first hearing</span>
    </a>
    <a href="/cases/shortcut/needs-prosecutor" class="app-overview-card app-overview-card--turquoise">
      <span class="app-overview-card__count">{{ needsProsecutorCount }}</span>
      <span class="app-overview-card__status">{{ needsProsecutorCount | pluralize("case needs", "cases need") }} a prosecutor</span>
    </a>
    <a href="/cases/shortcut/needs-paralegal-officer" class="app-overview-card app-overview-card--orange">
      <span class="app-overview-card__count">{{ needsParalegalOfficerCount }}</span>
      <span class="app-overview-card__status">{{ needsParalegalOfficerCount | pluralize("case needs", "cases need") }} a paralegal officer</span>
    </a>
    <a href="/cases/shortcut/hearing-prep-needed" class="app-overview-card app-overview-card--pink">
      <span class="app-overview-card__count">{{ hearingPrepNeededCaseCount }}</span>
      <span class="app-overview-card__status">{{ hearingPrepNeededCaseCount | pluralize("case has", "cases have") }} a hearing that needs preparation</span>
    </a>
  </div>
</div>
