<div class="app-overview-section">
  <h2 class="govuk-heading-m">Cases</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="" class="govuk-link--no-visited-state">67 cases do not have an assigned prosecutor</a>
    </li>
  </ul>
</div>



{# {% if unassignedCaseCount > 0 %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">Cases</h2>
    <div class="app-overview-cards govuk-!-margin-bottom-9">
      <a href="/cases/shortcut/unassigned" class="app-overview-card app-overview-card--yellow">
        <span class="app-overview-card__count">{{unassignedCaseCount}}</span>
        <span class="app-overview-card__status">
          {% if unassignedCaseCount == 1 %}
            case does not
          {% else %}
            cases do not
          {% endif %}
          have a prosecutor assigned
        </span>
      </a>
    </div>
  </div>
{% endif %} #}
