{% if latestDGAMonth %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">DGA reporting</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/dga-reporting/{{ latestDGAMonth.key }}" class="govuk-link--no-visited-state">
          Export DGA cases for {{ latestDGAMonth.name }}
        </a>
      </li>
    </ul>
  </div>
{% endif %}
