{% if overdueDirectionCount > 0 or dueTodayDirectionCount > 0 or dueTomorrowDirectionCount > 0 %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">High priority directions that belong to your cases</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% if overdueDirectionCount > 0 %}
        <li>
          <a href="/directions/shortcut/overdue">
            {{overdueDirectionCount}}
              {% if overdueDirectionCount == 1 %}
                direction
              {% else %}
                directions
              {% endif %}
              assigned to prosecution are overdue
          </a>
        </li>
      {% endif %}
      {% if dueTodayDirectionCount > 0 %}
        <li>
          <a href="/directions/shortcut/due-today">
            {{overdueDirectionCount}}
            {% if overdueDirectionCount == 1 %}
              direction
            {% else %}
              directions
            {% endif %}
            assigned to prosecution are due today
          </a>
        </li>
      {% endif %}
      {% if dueTomorrowDirectionCount > 0 %}
        <li>
          <a href="/directions/shortcut/due-tomorrow">
            {{dueTomorrowDirectionCount}}
            {% if dueTomorrowDirectionCount == 1 %}
              direction
            {% else %}
              directions
            {% endif %}
            assigned to prosecution due tomorrow
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}