{% if overdueDirectionCount > 0 or dueTodayDirectionCount > 0 or dueTomorrowDirectionCount > 0 %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">Directions</h2>
    <div class="app-overview-cards govuk-!-margin-bottom-9">
      {% if overdueDirectionCount > 0 %}
        <a href="/directions/shortcut/overdue" class="app-overview-card app-overview-card--red">
          <span class="app-overview-card__count">{{overdueDirectionCount}}</span>
          <span class="app-overview-card__status">
            {% if overdueDirectionCount == 1 %}
              direction
            {% else %}
              directions
            {% endif %}
            assigned to prosecution are overdue
          </span>
        </a>
      {% endif %}

      {% if dueTodayDirectionCount > 0 %}
        <a href="/directions/shortcut/due-today" class="app-overview-card app-overview-card--blue">
          <span class="app-overview-card__count">{{dueTodayDirectionCount}}</span>
          <span class="app-overview-card__status">
            {% if dueTodayDirectionCount == 1 %}
              direction
            {% else %}
              directions
            {% endif %}
            assigned to prosecution are due today
          </span>
        </a>
      {% endif %}

      {% if dueTomorrowDirectionCount > 0 %}
        <a href="/directions/shortcut/due-tomorrow" class="app-overview-card app-overview-card--purple">
          <span class="app-overview-card__count">{{dueTomorrowDirectionCount}}</span>
          <span class="app-overview-card__status">
            {% if dueTomorrowDirectionCount == 1 %}
              direction
            {% else %}
              directions
            {% endif %}
            assigned to prosecution due tomorrow
          </span>
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
