{% if recentCases.length > 0 %}
  <div class="app-overview-section">
    <h2 class="govuk-heading-m">Recently viewed cases</h2>
    <ul class="govuk-list govuk-list--bullet">
      {% for recentCase in recentCases %}
        <li>
          <a href="/cases/{{ recentCase.case.id }}" class="govuk-link--no-visited-state">
            {{ recentCase.case.reference }} -
            {% if recentCase.case.operationName %}
              Operation {{ recentCase.case.operationName }}
            {%- else %}
              {{ recentCase.case.defendants[0].firstName }} {{ recentCase.case.defendants[0].lastName }}
              {% if recentCase.case.defendants.length > 1 %}
                and {{ recentCase.case.defendants.length - 1 }} more
              {%- endif %}
            {%- endif -%}
          </a>          
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
