<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p><a href="/cases/{{ caseId }}/review/documents/{{ documentId }}/add-offence?reset=1">Add offence</a></p>

    {% if offences.length %}
      <div class="app-list">
        {% for offence in offences %}
          <div class="app-list__item">
            <p class="govuk-body govuk-!-margin-bottom-0">{{ offence.charge.description }}</p>
            <div class="app-list__actions">
              <a
                href="/cases/{{ caseId }}/review/documents/{{ documentId }}/change-offence?reset=1"
                class="govuk-link govuk-link--no-visited-state govuk-!-margin-right-3"
              >
                Change
              </a>
              <a
                href="/cases/{{ caseId }}/review/documents/{{ documentId }}/offences/{{ offence.charge.id }}/remove"
                class="govuk-link govuk-link--no-visited-state"
              >
                Remove
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
