<div class="app-toolbar js-toolbar">
  <div class="app-toolbar__inner">
    <div class="govuk-button-group">
      <form
        method="post"
        action="/cases/{{ caseId }}/review/documents/{{ documentId }}/mark-reviewed"
      >
        {{ govukButton({ text: "Mark as reviewed" }) }}
      </form>
      <form
        method="post"
        action="/cases/{{ caseId }}/review/documents/{{ documentId }}/save-progress"
      >
        {{ govukButton({ text: "Mark as in progress", classes: "govuk-button--secondary" }) }}
      </form>
      {# {{ govukButton({ text: "Mark as unused", classes: "govuk-button--secondary", href: "#" }) }} #}
      {# {{ govukButton({ text: "Add case summary note", classes: "govuk-button--secondary", href: "#" }) }} #}
      {# {{ govukButton({ text: "Add information request", classes: "govuk-button--secondary", href: "#" }) }} #}
      {# {{ govukButton({ text: "Link to witness or victim", classes: "govuk-button--secondary", href: "#" }) }} #}
    </div>
  </div>
</div>
