{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{task.case.reference}} - Check new PCD case {% endset %}
{% set pageName = "Check if you want to change the area" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% set areaInset %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Area</h2>
        <p>{{area}}</p>
      {% endset %}

      {{ govukInsetText({
        html: areaInset
      }) }}

      <form method="post">
        {% set areaSelectHtml %}
          {{ xGovukAutocomplete({
            id: "area",
            name: "completeCheckNewPcdCase[area]",
            allowEmpty: false,
            showAllValues: true,
            label: {
              text: "Area"
            },
            value: data.completeCheckNewPcdCase.area,
            items: [
              {
                value: "Dorset",
                text: "Dorset"
              },
              {
                value: "Hampshire and Isle of White",
                text: "Hampshire and Isle of White"
              },
              {
                value: "Wiltshire",
                text: "Wiltshire"
              },
              {
                value: "North Yorkshire",
                text: "North Yorkshire"
              },
              {
                value: "South Yorkshire",
                text: "South Yorkshire"
              },
              {
                value: "West Yorkshire",
                text: "West Yorkshire"
              },
              {
                value: "Humberside",
                text: "Humberside"
              }
            ]
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "completeCheckNewPcdCase[changeArea]",
          value: data.completeCheckNewPcdCase.changeArea,
          fieldset: {
            legend: {
              text: "Do you want to change the area?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: areaSelectHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
