{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{task.case.reference}} - Check new PCD case {% endset %}
{% set pageName = "Check details and complete task" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {# Complex value lookups #}

      {# Change area value (Accept + Transfer flow) #}
      {% set changeAreaValue = data.changeArea %}
      {% if data.changeArea == "Yes" and data.selectedArea %}
        {% set changeAreaValue = "Yes - " + data.selectedArea %}
      {% endif %}

      {# Unit name lookup (Accept + Transfer flow) #}
      {% set unitName = "" %}
      {% if data.unitId %}
        {% for unit in units %}
          {% if unit.id == data.unitId %}
            {% set unitName = unit.name %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {# Know person name value (Accept + Transfer + RASSO + Individual flow) #}
      {% set knowPersonValue = data.knowPersonName %}
      {% if data.knowPersonName == "Yes" and data.personLastName %}
        {% set knowPersonValue = "Yes - " + data.personLastName %}
      {% endif %}

      {# Choose specific role value (Accept + Transfer + RASSO + Individual flow) #}
      {% set chooseRoleValue = data.chooseSpecificRole %}
      {% if data.chooseSpecificRole == "Yes" and data.specificRole %}
        {% set chooseRoleValue = "Yes - " + data.specificRole %}
      {% endif %}

      {# Task owner name lookup (Accept + Transfer + RASSO flow) #}
      {% set taskOwnerName = "" %}
      {% if data.taskOwner %}
        {% if data.taskOwner.startsWith("user-") %}
          {% set userId = data.taskOwner | replace("user-", "") | int %}
          {% for user in users %}
            {% if user.id == userId %}
              {% set taskOwnerName = user.firstName + " " + user.lastName %}
            {% endif %}
          {% endfor %}
        {% elif data.taskOwner.startsWith("team-") %}
          {% set teamId = data.taskOwner | replace("team-", "") | int %}
          {% for team in teams %}
            {% if team.id == teamId %}
              {% set taskOwnerName = team.name %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}

      {# Know prosecutor value (Accept + Early advice flow) #}
      {% set prosecutorValue = "" %}

      {% set prosecutorId = data.prosecutorId | int %}
      {% for prosecutor in prosecutors %}
        {% if prosecutor.id == prosecutorId %}
          {% set prosecutorValue = prosecutor.firstName + " " + prosecutor.lastName %}
        {% endif %}
      {% endfor %}
      

      {# Rejection reasons HTML (Reject flow) #}
      {% set reasonsHtml %}
        <ul class="govuk-list govuk-list--spaced">
          {% for reason in data.rejectionReasons %}
            <li>
              {% if data.rejectionDetails and data.rejectionDetails[reason] and data.rejectionDetails[reason] | trim %}
                <p class="govuk-!-margin-bottom-0">{{ reason }}:</p>
                <p>{{ data.rejectionDetails[reason] }}</p>
              {% else %}
                {{ reason }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Decision" },
            value: { text: data.decision },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case",
                text: "Change",
                visuallyHiddenText: "decision"
              }]
            }
          },
          {
            key: { text: "Review task type" },
            value: { text: data.reviewTaskType },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/review-task-type",
                text: "Change",
                visuallyHiddenText: "review task type"
              }]
            }
          } if data.decision == "Accept" and data.reviewTaskType,

          {
            key: { text: "Do you want to transfer the case?" },
            value: { text: data.transferCase },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/transfer-case",
                text: "Change",
                visuallyHiddenText: "if you want to transfer the case"
              }]
            }
          } if data.decision == "Accept" and data.transferCase,
          {
            key: { text: "Do you want to change the area?" },
            value: { text: changeAreaValue },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/area",
                text: "Change",
                visuallyHiddenText: "if you want to change the area"
              }]
            }
          } if data.decision == "Accept" and data.transferCase == "Yes" and data.changeArea,

          {
            key: { text: "Unit" },
            value: { text: unitName },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/unit",
                text: "Change",
                visuallyHiddenText: "unit"
              }]
            }
          } if data.decision == "Accept" and data.transferCase == "Yes" and data.unitId,

          {
            key: { text: "Case type" },
            value: { text: data.caseType },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/case-type",
                text: "Change",
                visuallyHiddenText: "case type"
              }]
            }
          } if data.decision == "Accept" and data.transferCase == "Yes" and data.caseType,
          {
            key: { text: "Do you want to assign the \"Early advice manager triage\" task to an individual or team?" },
            value: { text: data.assignTo },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/user-type",
                text: "Change",
                visuallyHiddenText: "if you want to assign to an individual or team"
              }]
            }
          } if data.decision == "Accept" and data.transferCase == "Yes" and data.reviewTaskType == "Early advice" and data.caseType == "RASSO" and data.assignTo,
          {
            key: { text: "Do you know the name of the person you want to assign the \"Early advice manager triage\" task to?" },
            value: { text: knowPersonValue },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/person-name",
                text: "Change",
                visuallyHiddenText: "if you know the name of the person"
              }]
            }
          } if data.decision == "Accept" and data.transferCase == "Yes" and data.reviewTaskType == "Early advice" and data.caseType == "RASSO" and data.assignTo == "Individual" and data.knowPersonName,
          {
            key: { text: "Do you want to choose a specific role?" },
            value: { text: chooseRoleValue },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/role",
                text: "Change",
                visuallyHiddenText: "if you want to choose a specific role"
              }]
            }
          } if data.decision == "Accept" and data.transferCase == "Yes" and data.reviewTaskType == "Early advice" and data.caseType == "RASSO" and data.assignTo == "Individual" and data.chooseSpecificRole,
          {
            key: { text: "Task owner" },
            value: { text: taskOwnerName },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/task-owner",
                text: "Change",
                visuallyHiddenText: "task owner"
              }]
            }
          } if data.decision == "Accept" and data.transferCase == "Yes" and data.reviewTaskType == "Early advice" and data.caseType == "RASSO" and data.taskOwner,
          {
            key: { text: "Do you know the name of the prosecutor you want to allocate?" },
            value: { text: data.knowProsecutorName },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/know-prosecutor-name",
                text: "Change",
                visuallyHiddenText: "if you know the name of the prosecutor"
              }]
            }
          } if data.decision == "Accept" and data.reviewTaskType == "Early advice" and (data.transferCase == "No" or (data.transferCase == "Yes" and data.caseType != "RASSO")) and data.knowProsecutorName,
          {
            key: { text: "Prosecutor" },
            value: { text: prosecutorValue },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/know-prosecutor-name",
                text: "Change",
                visuallyHiddenText: "prosecutor"
              }]
            }
          } if data.decision == "Accept" and data.reviewTaskType == "Early advice" and (data.transferCase == "No" or (data.transferCase == "Yes" and data.caseType != "RASSO")) and data.prosecutorId,
          {
            key: { text: "Reasons for rejection" },
            value: { html: reasonsHtml },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/reasons-for-rejection",
                text: "Change",
                visuallyHiddenText: "reasons for rejection"
              }]
            }
          } if data.decision == "Reject" and data.rejectionReasons and data.rejectionReasons.length,
          {
            key: { text: "Review task type" },
            value: { text: data.reviewTaskType },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/review-task-type",
                text: "Change",
                visuallyHiddenText: "review task type"
              }]
            }
          } if data.decision == "Reject" and data.reviewTaskType,
          {
            key: { text: "Date the police should respond" },
            value: { text: data.policeResponseDate | isoDateFromDateInput | govukDateTime },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/police-response-date",
                text: "Change",
                visuallyHiddenText: "Date the police should respond"
              }]
            }
          } if data.decision == "Reject" and data.policeResponseDate and data.policeResponseDate.day and data.policeResponseDate.month and data.policeResponseDate.year,
          {
            key: { text: "Do you want to create a task to remind you about when the police should respond back to you?" },
            value: { text: "Yes" if data.createReminderTask == "Yes" else "No" },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/create-reminder-task",
                text: "Change",
                visuallyHiddenText: "if you want to create a task to remind you about when the police should respond back to you"
              }]
            }
          } if data.decision == "Reject",
          {
            key: { text: "Task due date" },
            value: { text: data.reminderDueDate | isoDateFromDateInput | govukDateTime },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/create-reminder-task",
                text: "Change",
                visuallyHiddenText: "Task due date"
              }]
            }
          } if data.decision == "Reject" and data.createReminderTask == "Yes" and data.reminderDueDate and data.reminderDueDate.day and data.reminderDueDate.month and data.reminderDueDate.year,
          {
            key: { text: "Case type" },
            value: { text: data.caseType },
            actions: {
              items: [{
                href: "/cases/" + task.case.id + "/tasks/" + task.id + "/check-new-pcd-case/case-type",
                text: "Change",
                visuallyHiddenText: "case type"
              }]
            }
          } if data.decision == "Reject" and data.caseType
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Complete task"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
