{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{_case.reference}} - Check new PCD case {% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{caption}}</span>
      <form method="post">
        {% set roleSelectHtml %}
          {{ govukSelect({
            name: "completeCheckNewPcdCase[specificRole]",
            label: {
              text: "Role"
            },
            items: [
              {
                value: "",
                text: "Select a role",
                selected: not data.completeCheckNewPcdCase.specificRole
              },
              {
                value: "Prosecutor",
                text: "Prosecutor",
                selected: data.completeCheckNewPcdCase.specificRole == "Prosecutor"
              },
              {
                value: "Senior Prosecutor",
                text: "Senior Prosecutor",
                selected: data.completeCheckNewPcdCase.specificRole == "Senior Prosecutor"
              },
              {
                value: "Chief Prosecutor",
                text: "Chief Prosecutor",
                selected: data.completeCheckNewPcdCase.specificRole == "Chief Prosecutor"
              },
              {
                value: "Paralegal Officer",
                text: "Paralegal Officer",
                selected: data.completeCheckNewPcdCase.specificRole == "Paralegal Officer"
              },
              {
                value: "Case Manager",
                text: "Case Manager",
                selected: data.completeCheckNewPcdCase.specificRole == "Case Manager"
              }
            ]
          }) }}
        {% endset %}

        {{ govukRadios({
          name: "completeCheckNewPcdCase[chooseSpecificRole]",
          value: data.completeCheckNewPcdCase.chooseSpecificRole,
          fieldset: {
            legend: {
              text: "Do you want to choose a specific role?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: roleSelectHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p><a href="/cases/{{_case.id}}/tasks/{{task.id}}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
