{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{_case.reference}} - Check new PCD case {% endset %}
{% set pageName = "Task owner" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{caption}}</span>
      <form method="post">
        {% set ownerItems = [] %}

        {# Add individuals #}
        {% for user in users %}
          {% set ownerItems = (ownerItems.push({
            value: "user-" + user.id,
            text: user.firstName + " " + user.lastName,
            checked: data.completeCheckNewPcdCase.taskOwner == ("user-" + user.id)
          }), ownerItems) %}
        {% endfor %}

        {# Add teams #}
        {% for team in teams %}
          {% set ownerItems = (ownerItems.push({
            value: "team-" + team.id,
            text: team.name,
            checked: data.completeCheckNewPcdCase.taskOwner == ("team-" + team.id)
          }), ownerItems) %}
        {% endfor %}

        {{ govukRadios({
          name: "completeCheckNewPcdCase[taskOwner]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: ownerItems
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p><a href="/cases/{{_case.id}}/tasks/{{task.id}}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
