<search class="app-search-form" id="app-task-search">
  <form>
    {{ govukInput({
      id: "taskSearch[keywords]",
      name: "taskSearch[keywords]",
      label: {
        text: "Search by task, URN or defendant name",
        classes: "govuk-label--s app-search-form__label"
      },
      value: data.taskSearch.keywords
    }) }}

    {{ govukButton({
      text: "Search",
      classes: "app-search-form__button"
    }) }}
  </form>

  {% if data.taskSearch.keywords %}
    <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a class="govuk-link--no-visited-state" href="/tasks/clear-search">Clear search</a></p>
  {% endif %}
</search>