{% extends "_layouts/main.html" %}

{% set navId = 'overview' %}
{% set pageName = "Overview" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {% if data.user.role == "Manager" %}
        {% include "_includes/overview/cases.njk" %}
      {% endif %}

      {% if data.user.role == "Prosecutor" or data.user.role == "Paralegal officer" %}
        {% include "_includes/overview/directions.njk" %}
      {% endif %}

      {% if data.user.role == "Casework assistant" %}
        {% include "_includes/overview/unit-tasks.njk" %}
      {% endif %}


      {% include "_includes/overview/tasks.njk" %}

      {% if data.user.role == "Manager" %}
        {% include "_includes/overview/prosecutors.njk" %}
      {% endif %}

      {% include "_includes/overview/recent-cases.njk" %}

    </div>
  </div>
{% endblock %}
