{% extends "layouts/main.html" %}

{% set navId = 'overview' %}
{% set pageName = "Overview" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {% include "_includes/overview/cases--unassigned.njk" %}

      {% include "_includes/overview/directions.njk" %}

      {% include "_includes/overview/tasks--urgent.njk" %}

      {% include "_includes/overview/tasks--priority-charging.njk" %}

      {% include "_includes/overview/tasks--ctl.njk" %}

      {% include "_includes/overview/tasks--stl.njk" %}

      {% include "_includes/overview/tasks--pace-clock.njk" %}

      {% include "_includes/overview/prosecutors.njk" %}

    </div>
  </div>
{% endblock %}
