{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Reason for marking as not urgent" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: "/cases/:caseId/tasks/:taskId" | replace(':caseId', _case.id) | replace(':taskId', task.id)
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% set taskHtml %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Task</h2>
        <p>{{ task.name }}</p>
      {% endset %}
      {{
        govukInsetText({
          html: taskHtml
        })
      }}

      <form method="post">
        {{
          govukCharacterCount({
            name: "markAsNotUrgent[note]",
            id: "markAsNotUrgent[note]",
            maxlength: 5000,
            label: {
              text: pageName,
              classes: "govuk-label--m"
            },
            value: data.markAsNotUrgent.note
          })
        }}

        {{
          govukButton({
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
