# Node.js ignores
node_modules/

# Prototype ignores - per-user
.tmp/
.env
migrate.log
usage-data-config.json
.claude/
.mcp.json
.playwright-mcp

# General ignores
.DS_Store
.idea

/prisma/data/
.drafts