{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}

{% set question = "Do you want to record DGA dispute outcomes as not disputed for all :totalCasesCount cases?" | replace(':totalCasesCount', totalCasesCount) %}

{% set pageName = question %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">Decide if you want to record DGA dispute outcomes as not disputed for all cases</h1>
      <p class="govuk-body">There are {{ totalCasesCount }} cases in total awaiting DGA dispute outcomes, but you selected {{ selectedCasesCount }} cases.</p>
      <form method="post">
        {{
          govukRadios({
              name: "selection",
              fieldset: {
                legend: {
                  text: question,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "all",
                  text: "Yes, record all " + totalCasesCount + " cases as not disputed"
                },
                {
                  value: "selected",
                  text: "No, record the " + selectedCasesCount + " cases I selected as not disputed"
                }
              ]
            })
        }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
