{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = element.description %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: '/cases/' + _case.id + '/review' if isFirstElement else 'javascript:history.back()'
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }} – {{ charge.description }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% if showDefendantName %}
        <p class="govuk-body">{{ charge.defendant.firstName }} {{ charge.defendant.lastName }}</p>
      {% endif %}

      {% set annotationCardsShowChange = false %}
      {% set annotationCardsShowElementMeta = false %}
      {% include "_includes/element-annotation-cards.njk" %}

      <form method="post">
        {% if from == 'check' %}
          <input type="hidden" name="from" value="check" />
        {% endif %}

        {{
          govukRadios({
            name: "strength",
            value: element.strength or "Not assessed",
            fieldset: {
              legend: {
                text: "Element strength",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Strong",
                text: "Strong",
                conditional: {
                  html: govukTextarea({
                    name: "strengthReasoning[Strong]",
                    id: "strength-reasoning-strong",
                    value: element.strengthReasoning if element.strength == "Strong" else "",
                    label: { text: "Reasoning" }
                  })
                }
              },
              {
                value: "Moderate",
                text: "Moderate",
                conditional: {
                  html: govukTextarea({
                    name: "strengthReasoning[Moderate]",
                    id: "strength-reasoning-moderate",
                    value: element.strengthReasoning if element.strength == "Moderate" else "",
                    label: { text: "Reasoning" }
                  })
                }
              },
              {
                value: "Weak",
                text: "Weak",
                conditional: {
                  html: govukTextarea({
                    name: "strengthReasoning[Weak]",
                    id: "strength-reasoning-weak",
                    value: element.strengthReasoning if element.strength == "Weak" else "",
                    label: { text: "Reasoning" }
                  })
                }
              },
              { value: "Not assessed", text: "Not assessed" }
            ]
          })
        }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
