{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'Failures' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director’s Guidance Assessment (DGA) reporting",
        href: "/dga-reporting"
      },
      {
        text: monthName,
        href: "/dga-reporting/" + monthKey
      },
      {
        text: 'Non-compliant DGA cases',
        href: "/dga-reporting/" + monthKey + "/" + policeUnitId
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ case.reference }}</span>
        <h1 class="govuk-heading-l">
          {{ pageName }}
          {{ govukTag({
            text: reportStatus,
            classes: reportStatus | completionStatusTagClass
          }) }}
        </h1>
        
        {% if reportStatus != "Completed" %}
          <p class="govuk-body">{{ outcomesRemaining }} failure {{ "reason" if outcomesRemaining == 1 else "reasons" }} {{ "needs" if outcomesRemaining == 1 else "need" }} {{ "an outcome" if outcomesRemaining == 1 else "outcomes" }}.</p>
        {% endif %}

        {# <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Mark as not disputed",
            classes: "govuk-button--secondary"
          }) }}
        </div> #}

        {% for reason in case.dga.failureReasons %}
          <div>
            <h2 class="govuk-heading-m govuk-!-margin-top-7">
              {{ reason.reason }}
            </h2>

            {% if not reason.disputed %}
              {# <p><a href="">Mark as complete</a></p> #}
              {{ govukButton({
                text: "Record dispute outcome",
                href: "/dga-reporting/" + monthKey + "/" + policeUnitId + "/" + case.id + "/" + reason.id + "/record-dispute-outcome"
              })}}
            {% else %}
              {% set methodsHtml %}
                {% if reason.methods %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for method in reason.methods.split(', ') %}
                      <li>{{ method }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  -
                {% endif %}
              {% endset %}

              {% set baseUrl = "/dga-reporting/" + monthKey + "/" + policeUnitId + "/" + case.id + "/" + reason.id + "/record-dispute-outcome" %}
              {{ govukSummaryList({
                rows: [
                  {
                    key: { text: "Did the police dispute this failure?" },
                    value: { text: reason.disputed },
                    actions: {
                      items: [
                        {
                          href: baseUrl,
                          text: "Change",
                          visuallyHiddenText: "did the police dispute this failure"
                        }
                      ]
                    }
                  },
                  {
                    key: { text: "Did CPS accept the dispute?" },
                    value: { text: reason.cpsAccepted },
                    actions: {
                      items: [
                        {
                          href: baseUrl + "/cps-accepted",
                          text: "Change",
                          visuallyHiddenText: "did CPS accept the dispute"
                        }
                      ]
                    }
                  } if reason.disputed == "Yes",
                  {
                    key: { text: "Reason for outcome" },
                    value: { text: reason.details if reason.details else "-" },
                    actions: {
                      items: [
                        {
                          href: baseUrl + "/reason",
                          text: "Change",
                          visuallyHiddenText: "reason for outcome"
                        }
                      ]
                    }
                  } if reason.disputed == "Yes",
                  {
                    key: { text: "How did you discuss this dispute with the police?" },
                    value: { html: methodsHtml },
                    actions: {
                      items: [
                        {
                          href: baseUrl + "/method",
                          text: "Change",
                          visuallyHiddenText: "how you discussed this dispute with the police"
                        }
                      ]
                    }
                  } if reason.disputed == "Yes"
                ]
              }) }}
            {% endif %}
          </div>
        {% endfor %}

          {# <h2 class="govuk-heading-m">Review and submit outcome to classic CMS</h2>

        {{ govukButton({
          text: "Record outcome to classic CMS"
        }) }} #}
      </div>
    </div>
  </div>

{% endblock %}
