{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'Director’s Guidance Assessment (DGA) reporting' %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% if months.length === 0 %}
        <p class="govuk-body">No DGA cases found.</p>
      {% else %}
        <div class="app-list">        
          {% for month in months %}
            <div class="app-list__item">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
                <div>
                  <a href="/dga-reporting/{{ month.key }}">{{ month.name }}</a>
                </div>
                <div class="app-list__tag">
                  {{ govukTag({
                    text: month.status,
                    classes: month.status | completionStatusTagClass
                  }) }}
                </div>
              </h2>
              
              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border app-summary-list--compact app-summary-list--small-text',
                rows: [
                  {
                    key: {
                      text: "Deadline to record outcomes"
                    },
                    value: {
                      text: month.deadline | isoDateString | govukDateTime
                    }
                  },
                  {
                    key: {
                      text: "Total cases with DGA"
                    },
                    value: {
                      text: month.totalCases
                    }
                  },
                  {
                    key: {
                      text: "Cases with a non-compliant DGA"
                    },
                    value: {
                      text: month.nonCompliantCases
                    }
                  }                    
                ]
              }) if 1==2}}
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
