{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = monthName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director’s Guidance Assessment (DGA) reporting",
        href: "/dga-reporting"
      },
      {
        text: monthName
      }
    ]
  }) }}
{% endblock beforeContent %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>     
      <p>You must record outcomes by {{ deadline | isoDateString | govukDateTime }}.</p>
      
      {% for policeUnit in policeUnits %}
        <div class="app-dga-police-unit govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-m">
            {{ policeUnit.name }}
            {{ govukTag({
              text: policeUnit.status,
              classes: policeUnit.status | completionStatusTagClass
            })}}
          </h2>

          <div class="govuk-button-group govuk-!-margin-bottom-1">
            <a href="/dga-reporting/{{ monthKey }}/{{ policeUnit.id }}/export" class="govuk-link govuk-link--no-visited-state">Export cases that had a DGA</a>
            <a href="/dga-reporting/{{ monthKey }}/{{ policeUnit.id }}" class="govuk-link govuk-link--no-visited-state">Record outcomes for cases that failed DGA</a>
          </div>
          
          {# {{ govukSummaryList({
            classes: 'app-summary-list--wide-actions',
            rows: [
              {
                key: { text: "Total cases with DGA" },
                value: { text: policeUnit.totalCases },
                actions: {
                  items: [
                    {
                      href: "/dga-reporting/:month/:policeUnitId/export" | replace(":month", monthKey) | replace(":policeUnitId", policeUnit.id),
                      text: "Export",
                      visuallyHiddenText: policeUnit.name
                    }
                  ]
                }
              },
              {
                key: { text: "Cases that failed DGA" },
                value: { text: policeUnit.nonCompliantCases },
                actions: {
                  items: [
                    {
                      href: "/dga-reporting/:month/:policeUnitId" | replace(":month", monthKey) | replace(":policeUnitId", policeUnit.id),
                      text: "Record outcomes" if policeUnit.status != "Completed" else "Update outcomes",
                      visuallyHiddenText: policeUnit.name
                    }
                  ]
                }
              }
            ]
          }) }} #}

          {# <p>First you need to export:</p>

          {{ govukButton({
            text: "Export all cases"
          }) }}

          <p>Once you have received the spreadsheet of outcomes, record them here:</p>

          {{ govukButton({
            text: "Record outcomes"
          }) }} #}
          



          {% if policeUnit.status != "Completed" %}
            {# <p>You need to record outcomes for {{ policeUnit.casesNeedingOutcomes }} {{ "case" if policeUnit.casesNeedingOutcomes == 1 else "cases" }}.</p> #}
            {# {{ govukButton({
              text: "Record outcomes",
              href: "/dga-reporting/:month/:policeUnitId" | replace(":month", monthKey) | replace(":policeUnitId", policeUnit.id)
            }) }} #}
          {% else %}
            {{ govukButton({
              classes: 'govuk-button--secondary',
              text: "Update outcomes",
              href: "/dga-reporting/:month/:policeUnitId" | replace(":month", monthKey) | replace(":policeUnitId", policeUnit.id)
            }) if 1==2}}

            {# <p><a href="/dga-reporting/{{ monthKey }}/{{ policeUnit.id }}" class="govuk-link">Update outcomes</a></p> #}
          {% endif %}
        
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
