{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Record first hearing outcome" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }} – record first hearing outcome</span>

      <form method="post">
        {{
          govukRadios({
            name: "outcome",
            value: selectedOutcome,
            fieldset: {
              legend: {
                text: "What was the outcome?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "trial-in-magistrates-court",
                text: "Goes to trial in magistrates court"
              },
              {
                value: "pleads-guilty",
                text: "Defendant pleads guilty — goes for sentencing"
              },
              {
                value: "sent-to-crown-court",
                text: "Sent to crown court"
              }
            ]
          })
        }}

        {{
          govukButton({
            text: "Continue"
          })
        }}
      </form>
    </div>
  </div>
{% endblock %}
