{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Record outcome of first hearing" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <form method="post">
        {{ govukRadios({
          name: "outcome",
          fieldset: {
            legend: {
              text: "What was the outcome?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "trial-in-magistrates-court",
              text: "Goes to trial in magistrates court"
            },
            {
              value: "pleads-guilty",
              text: "Defendant pleads guilty — goes for sentencing"
            },
            {
              value: "sent-to-crown-court",
              text: "Sent to crown court"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Record outcome"
        }) }}
      </form>
      <p><a href="/cases/{{ _case.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
