{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'Outcomes' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director Guidance Assessment (DGA)",
        href: "/dga-reviews"
      },
      {
        text: monthName,
        href: "/dga-reviews/" + monthKey
      },
      {
        text: 'Non-compliant DGA cases',
        href: "/dga-reviews/" + monthKey + "/" + policeUnitId
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{{ case.reference }}</span>
        <h1 class="govuk-heading-l">
          {{ pageName }}
          {{ govukTag({
            text: reportStatus,
            classes: reportStatus | completionStatusTagClass
          }) if reportStatus != "Completed" }}
        </h1>

        
        {% if reportStatus != "Completed" %}
          <p class="govuk-body">{{ outcomesRemaining }} failure {{ "reason" if outcomesRemaining == 1 else "reasons" }} {{ "needs" if outcomesRemaining == 1 else "need" }} {{ "an outcome" if outcomesRemaining == 1 else "outcomes" }}.</p>
        {% endif %}

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({
            text: "Mark as not disputed",
            classes: "govuk-button--secondary"
          }) }}
        </div>


        {% for reason in case.dga.failureReasons %}

            <h2 class="govuk-heading-m govuk-!-margin-top-7">
              {{ reason.reason }}
            </h2>

            {% if not reason.outcome %}
              {{ govukButton({
                text: "Record outcome",
                href: "/dga-reviews/" + monthKey + "/" + policeUnitId + "/" + case.id + "/" + reason.id + "/record-dispute-outcome"
              }) }}
            {% else %}
              {% set methodsHtml %}
                {% if reason.methods %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for method in reason.methods.split(', ') %}
                      <li>{{ method }}</li>
                    {% endfor %}
                  </ul>
                {% else %}
                  -
                {% endif %}
              {% endset %}

              {% set baseUrl = "/dga-reviews/" + monthKey + "/" + policeUnitId + "/" + case.id + "/" + reason.id + "/record-dispute-outcome" %}
              {{ govukSummaryList({
                rows: [
                  {
                    key: {
                      text: "Outcome"
                    },
                    value: {
                      text: reason.outcome
                    },
                    actions: {
                      items: [
                        {
                          href: baseUrl,
                          text: "Change",
                          visuallyHiddenText: "outcome"
                        }
                      ]
                    }
                  },

                  {
                    key: { text: "Reason for this outcome" },
                    value: { text: reason.details if reason.details else "-" },
                    actions: {
                      items: [
                        {
                          href: baseUrl + "/explanation",
                          text: "Change",
                          visuallyHiddenText: "explanation"
                        }
                      ]
                    }
                  } if reason.outcome != "Not disputed",

                  {
                    key: { text: "How did you discuss this dispute with the police?" },
                    value: { html: methodsHtml },
                    actions: {
                      items: [
                        {
                          href: baseUrl + "/method",
                          text: "Change",
                          visuallyHiddenText: "methods"
                        }
                      ]
                    }
                  } if reason.outcome != "Not disputed"
                ]
              }) }}
            {% endif %}
          
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
