{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'Director Guidance Assessment (DGA)' %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% if months.length === 0 %}
        <p class="govuk-body">No DGA cases found.</p>
      {% else %}
        <div class="app-list">        
          {% for month in months %}
            <div class="app-list__item">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
                <div>
                  <a href="/dga-reviews/{{ month.key }}">{{ month.name }}</a>
                </div>
                <div class="app-list__tag">
                  {{ govukTag({
                    text: month.status,
                    classes: month.status | completionStatusTagClass
                  }) }}
                </div>
              </h2>
              {% if month.status != "Completed" %}
                <p class="govuk-body govuk-!-margin-bottom-0">{{ month.completedCases }} out of {{ month.totalCases }} cases have recorded decisions.</p>
                <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">Record decisions by {{ month.deadline | isoDateString | govukDateTime }}.</p>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
