{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = monthName %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director Guidance Assessment (DGA)",
        href: "/dga-reviews"
      },
      {
        text: monthName
      }
    ]
  }) }}
{% endblock beforeContent %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageName }}</h1>     
      <p>You must record decisions by {{ deadline | isoDateString | govukDateTime }}.</p>
      
      {% for policeUnit in policeUnits %}
        <div class="app-dga-police-unit govuk-!-margin-top-7">
          <h2 class="govuk-heading-m">
            {{ policeUnit.name }}
            {{ govukTag({
              text: policeUnit.status,
              classes: policeUnit.status | completionStatusTagClass
            }) }}
          </h2>

          <p>{{policeUnit.completedCases}} of {{policeUnit.totalCases}} cases have recorded decisions.</p>

          <div class="govuk-button-group">
            <a href="/dga-reviews/{{ monthKey }}/{{ policeUnit.id }}/export" class="govuk-link govuk-link--no-visited-state">Export</a>
            <a href="/dga-reviews/{{ monthKey }}/{{ policeUnit.id }}" class="govuk-link govuk-link--no-visited-state">Non-compliant DGA cases</a>
            <a href="/dga-reviews/{{ monthKey }}/{{ policeUnit.id }}" class="govuk-link govuk-link--no-visited-state">Mark cases as not disputed?</a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
