{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'Non-compliant DGA cases' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Director Guidance Assessment (DGA)",
        href: "/dga-reviews"
      },
      {
        text: monthName,
        href: "/dga-reviews/" + monthKey
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock beforeContent %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ policeUnitName }}</span>
      <h1 class="govuk-heading-l">{{ pageName }} ({{ totalCases }})</h1>

      <div class="app-list">
        {% for caseItem in cases %}
        <div class="app-list__item">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
            <div>
              <a href="/dga-reviews/{{ monthKey }}/{{ policeUnitId }}/{{ caseItem.id }}" class="govuk-link--no-visited-state">
                {{ caseItem.reference }}
              </a>
            </div>
            <div class="app-list__tag">
              {{ govukTag({
                text: caseItem.reportStatus,
                classes: caseItem.reportStatus | completionStatusTagClass
              }) }}
            </div>
          </h2>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ caseItem.outcomesCompleted }} of {{ caseItem.outcomesTotal }} dispute outcome{{ "s" if caseItem.outcomesTotal != 1 }} recorded</p>
        </div>
        {% endfor %}
      </div>

      {% include "_includes/pagination.njk" %}

    </div>
  </div>
{% endblock %}
