{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set pageName = 'Why this is a simple case' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Cases",
        href: "/cases"
      },
      {
        text: _case.reference,
        href: "/cases/:caseId" | replace(':caseId', _case.id)
      },
      {
        text: pageName
      }
    ]
  }) }}
{% endblock %}

{% block content %}
 {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>
      
      <p>The case is simple because it has:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          4 defendants
        </li>
        <li>
          5 victims
        </li>
      </ul>
      
      {# <p>You can <a href="/cases/{{_case.id}}/edit-complexity">change the complexity level</a>.</p> #}

      {% set complexityExplanation %}

        <h2 class="govuk-heading-s">Very simple</h2>


        <p>A very simple case has:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            between 1 to 3 defendants
          </li>
          <li>
            X
          </li>
          <li>
            Y
          </li>
        </ul>

        <h2 class="govuk-heading-s">Simple</h2>

        <p>A simple case has:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Between 4 and 5 defendants
          </li>
          <li>
            X
          </li>
          <li>
            Y
          </li>
          <li>
            Z
          </li>
        </ul>

        <h2 class="govuk-heading-s">Moderate</h2>

        <p>A moderate case has:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Between 6 and 7 defendants
          </li>
          <li>
            X
          </li>
          <li>
            Y
          </li>
          <li>
            Z
          </li>
        </ul>

        <h2 class="govuk-heading-s">Complex</h2>

        <p>A complex case has:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            Between 8 and 9 defendants
          </li>
          <li>
            X
          </li>
          <li>
            Y
          </li>
          <li>
            Z
          </li>
        </ul>

        <h2 class="govuk-heading-s">Highly complex</h2>

        <p>A highly complex case has:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            10 or more defendants
          </li>
          <li>
            X
          </li>
          <li>
            Y
          </li>
          <li>
            Z
          </li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryText: "Explanation the different levels of case complexity",
        html: complexityExplanation
      }) }}



    </div>
  </div>
{% endblock %}
