{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Charging decision" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: 'javascript:history.back()'
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% set chargeRows = [] %}
      {% for charge in charges %}
        {%
          set chargeRows = chargeRows.concat([{
            key: { text: (charge.defendant.firstName + " " + charge.defendant.lastName + " – " + charge.description) if showDefendantName else charge.description },
            value: { text: charge.decision if charge.decision else "Not provided" },
            actions: {
              items: [{
                href: '/cases/' + _case.id + '/review/charging-decision/' + charge.id + '?from=check',
                text: "Change",
                visuallyHiddenText: charge.description
              }]
            }
          }])
        %}
      {% endfor %}

      {{ govukSummaryList({ rows: chargeRows }) }}

      <form method="post">
        {{
          govukRadios({
            name: "complete",
            fieldset: {
              legend: {
                text: "Have you completed this section?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            value: "yes" if review.chargingDecisionComplete == true else ("no" if review.chargingDecisionComplete == false else ""),
            items: [
              {
                value: "yes",
                text: "Yes, I’ve completed this section"
              },
              {
                value: "no",
                text: "No, I’ll come back to it later"
              }
            ]
          })
        }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
