<form
  method="post"
  action="/cases/{{ caseId }}/review/documents/{{ documentId }}/annotations/add"
  id="annotation-form"
  hidden
>
  <input type="hidden" name="selectedText" id="annotation-selected-text" />
  <input type="hidden" name="type" id="annotation-type-hidden" />
  <input type="hidden" name="note" id="annotation-note-hidden" />
  <input type="hidden" name="timestampSeconds" id="annotation-timestamp-hidden" />
  <input type="hidden" name="paragraphIndex" id="annotation-paragraph-index" />
  <input type="hidden" name="occurrenceIndex" id="annotation-occurrence-index" />
</form>
