{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Review case material" %}

{% block beforeContent %}
  {{ govukBackLink({ text: 'Back', href: '/cases/' + _case.id }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ _case.reference }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% for document in documents %}
        {% set docReview = docReviewMap[document.id] %}
        {% set status = docReview.status if docReview else 'not_started' %}
        {% set annotations = docReview.annotations if docReview else [] %}

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
          {{ document.name }}
          {% if status == 'reviewed' %}
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Reviewed</strong>
          {% endif %}
        </h2>

        <p class="govuk-body">
          <a href="/cases/{{ _case.id }}/review/documents/{{ document.id }}" class="govuk-link">Open</a>
        </p>

        {% if status != 'not_started' and annotations and annotations.length %}
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Type</th>
                <th scope="col" class="govuk-table__header">Annotation</th>
                <th scope="col" class="govuk-table__header">Note</th>
                <th scope="col" class="govuk-table__header" style="white-space: nowrap; width: 1%;"><span class="govuk-visually-hidden">Actions</span></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for annotation in annotations %}
                {% if annotation.type == 'evidence' %}
                  {% set typeLabel = 'Evidence' %}
                {% elif annotation.type == 'disclosure' %}
                  {% set typeLabel = 'Disclosure' %}
                {% else %}
                  {% set typeLabel = 'Missing item' %}
                {% endif %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ typeLabel }}</td>
                  <td class="govuk-table__cell">{{ annotation.selectedText | truncate(80) }}</td>
                  <td class="govuk-table__cell">{{ annotation.note }}</td>
                  <td class="govuk-table__cell" style="white-space: nowrap;">
                    <a href="/cases/{{ _case.id }}/review/documents/{{ document.id }}/annotations/{{ annotation.id }}/edit" class="govuk-link">Change</a>
                    <a href="/cases/{{ _case.id }}/review/documents/{{ document.id }}/annotations/{{ annotation.id }}/remove?from=list" class="govuk-link govuk-!-margin-left-3">Remove</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

      {% endfor %}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Summary of review</h2>

      <p class="govuk-body">
        <a href="/cases/{{ _case.id }}/review/summary" class="govuk-link">Open</a>
      </p>

      {% if review.summary %}
        <p class="govuk-body">{{ review.summary }}</p>
        <p class="govuk-body">
          <a href="/cases/{{ _case.id }}/review/summary" class="govuk-link">Change</a>
        </p>
      {% endif %}

      <div class="govuk-!-margin-top-6">
        <a href="/cases/{{ _case.id }}/make-charging-decision" class="govuk-button">Continue</a>
      </div>

    </div>
  </div>
{% endblock %}
