{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "You have added " + notes.length + " information request note" + ("s" if notes.length != 1 else "") %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: "/cases/" + _case.id + "/review/information-request"
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ _case.reference }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <div class="govuk-!-margin-bottom-6">
        {% for note in notes %}
          <div class="app-review-annotation-card app-review-annotation-card--orange">
            <div class="app-review-annotation-card__header app-annotation-card__tag--orange">
              <p class="govuk-!-margin-bottom-0">Information request note</p>
              <p class="govuk-!-margin-bottom-0">{{ note.caseReviewDocument.document.name }}</p>
            </div>
            <div class="app-review-annotation-card__body">
              <p>‘{{ note.selectedText | truncate(80) }}’</p>
              <p class="app-review-annotation-card__label">Note</p>
              <p class="govuk-!-margin-bottom-0">{{ note.note }}</p>
            </div>
          </div>
        {% endfor %}
      </div>

      <form method="post">
        {{ govukRadios({
          name: "notesDecision",
          fieldset: {
            legend: {
              text: "Do you want to add an information request or delete these notes?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            { value: "add", text: "Add an information request" },
            { value: "delete", text: "Delete these notes" }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
