{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{task.case.reference}} - Priority PCD review {% endset %}
{% set pageName = "Check details and complete task" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% set unitName = "" %}
      {% if data.unitId %}
        {% for unit in units %}
          {% if unit.id == data.unitId %}
            {% set unitName = unit.name %}
          {% endif %}
        {% endfor %}
      {% endif %}

      {% set nfsReasonsHtml %}
        <ul class="govuk-list govuk-list--spaced">
          {% for reason in data.nfsReasons %}
            <li>
              {% if data.rejectionDetails and data.rejectionDetails[reason] and data.rejectionDetails[reason] | trim %}
                <p class="govuk-!-margin-bottom-0">{{ reason }}:</p>
                <p>{{ data.rejectionDetails[reason] }}</p>
              {% else %}
                {{ reason }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set priorityReasonHtml %}
        {% if data.rejectionDetails and data.rejectionDetails[data.priorityReason] and data.rejectionDetails[data.priorityReason] | trim %}
          <p class="govuk-!-margin-bottom-0">{{ data.priorityReason }}:</p>
          <p>{{ data.rejectionDetails[data.priorityReason] }}</p>
        {% else %}
          {{ data.priorityReason }}
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Decision" },
            value: { text: data.decision },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "decision"
              }]
            }
          },
          {
            key: { text: "Case type" },
            value: { text: data.caseType },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/case-type' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "case type"
              }]
            }
          } if data.caseType,
          {
            key: { text: "Reasons for rejection" },
            value: { html: nfsReasonsHtml },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/nfs-reasons' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "reasons for rejection"
              }]
            }
          } if data.decision == "NFS non-compliant" and data.nfsReasons and data.nfsReasons.length,
          {
            key: { text: "Reason for rejection" },
            value: { html: priorityReasonHtml },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/priority-reasons' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "reason for rejection"
              }]
            }
          } if data.decision == "Priority / Red rejection" and data.priorityReason,
          {
            key: { text: "Are you CPSD?" },
            value: { text: data.cpsd },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/cpsd' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "if you are CPSD"
              }]
            }
          } if data.cpsd,
          {
            key: { text: "Do you want to transfer the case?" },
            value: { text: data.transferCase },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/transfer-case' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "if you want to transfer the case"
              }]
            }
          } if data.cpsd == "No" and data.transferCase,
          {
            key: { text: "Do you want to change the area?" },
            value: { text: data.changeArea },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/area' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "if you want to change the area"
              }]
            }
          } if data.cpsd == "No" and data.transferCase == "Yes" and data.changeArea,
          {
            key: { text: "Area" },
            value: { text: data.area },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/area' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "area"
              }]
            }
          } if data.cpsd == "No" and data.transferCase == "Yes" and data.changeArea == "Yes" and data.area,
          {
            key: { text: "Unit" },
            value: { text: unitName },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/unit' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "unit"
              }]
            }
          } if data.cpsd == "No" and data.transferCase == "Yes" and data.unitId,
          {
            key: { text: "Date the police should respond by" },
            value: { text: data.policeResponseDate | isoDateFromDateInput | govukDateTime },
            actions: {
              items: [{
                href: '/cases/:caseId/tasks/:taskId/priority-pcd-review/action-plan-date' | replace(':caseId', task.case.id) | replace(':taskId', task.id),
                text: "Change",
                visuallyHiddenText: "Date the police should respond by"
              }]
            }
          } if (data.decision == "NFS non-compliant" or data.decision == "Priority / Red rejection") and data.policeResponseDate and data.policeResponseDate.day and data.policeResponseDate.month and data.policeResponseDate.year
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Complete task"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
