{% extends "_layouts/main.html" %}
{% set navId = 'prosecutors' %}
{% set pageName = "Working pattern" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: "/prosecutors/:prosecutorId" | replace(':prosecutorId', prosecutor.id)
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{prosecutor.firstName}} {{prosecutor.lastName}}</span>
      <form method="post">

        {% set mondayHtml %}
          {{ govukInput({ label: { text: "Number of hours worked" }, id: "addWorkingPattern-hours-Monday", name: "addWorkingPattern[hours][Monday]", classes: "govuk-input--width-4", value: data.addWorkingPattern.hours.Monday }) }}
        {% endset %}

        {% set tuesdayHtml %}
          {{ govukInput({ label: { text: "Number of hours worked" }, id: "addWorkingPattern-hours-Tuesday", name: "addWorkingPattern[hours][Tuesday]", classes: "govuk-input--width-4", value: data.addWorkingPattern.hours.Tuesday }) }}
        {% endset %}

        {% set wednesdayHtml %}
          {{ govukInput({ label: { text: "Number of hours worked" }, id: "addWorkingPattern-hours-Wednesday", name: "addWorkingPattern[hours][Wednesday]", classes: "govuk-input--width-4", value: data.addWorkingPattern.hours.Wednesday }) }}
        {% endset %}

        {% set thursdayHtml %}
          {{ govukInput({ label: { text: "Number of hours worked" }, id: "addWorkingPattern-hours-Thursday", name: "addWorkingPattern[hours][Thursday]", classes: "govuk-input--width-4", value: data.addWorkingPattern.hours.Thursday }) }}
        {% endset %}

        {% set fridayHtml %}
          {{ govukInput({ label: { text: "Number of hours worked" }, id: "addWorkingPattern-hours-Friday", name: "addWorkingPattern[hours][Friday]", classes: "govuk-input--width-4", value: data.addWorkingPattern.hours.Friday }) }}
        {% endset %}

        {% set saturdayHtml %}
          {{ govukInput({ label: { text: "Number of hours worked" }, id: "addWorkingPattern-hours-Saturday", name: "addWorkingPattern[hours][Saturday]", classes: "govuk-input--width-4", value: data.addWorkingPattern.hours.Saturday }) }}
        {% endset %}

        {% set sundayHtml %}
          {{ govukInput({ label: { text: "Number of hours worked" }, id: "addWorkingPattern-hours-Sunday", name: "addWorkingPattern[hours][Sunday]", classes: "govuk-input--width-4", value: data.addWorkingPattern.hours.Sunday }) }}
        {% endset %}

        {{ govukCheckboxes({
          name: "addWorkingPattern[days]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          values: data.addWorkingPattern.days,
          items: [
            { value: "Monday",    text: "Monday",    conditional: { html: mondayHtml } },
            { value: "Tuesday",   text: "Tuesday",   conditional: { html: tuesdayHtml } },
            { value: "Wednesday", text: "Wednesday", conditional: { html: wednesdayHtml } },
            { value: "Thursday",  text: "Thursday",  conditional: { html: thursdayHtml } },
            { value: "Friday",    text: "Friday",    conditional: { html: fridayHtml } },
            { value: "Saturday",  text: "Saturday",  conditional: { html: saturdayHtml } },
            { value: "Sunday",    text: "Sunday",    conditional: { html: sundayHtml } }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
