{% extends "_layouts/main.html" %}
{% set navId = 'prosecutors' %}
{% set pageName = "Restricted areas (if applicable)" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: "/prosecutors/:prosecutorId" | replace(':prosecutorId', prosecutor.id)
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{prosecutor.firstName}} {{prosecutor.lastName}}</span>
      <form method="post">
        {{ govukCheckboxes({
          name: "editRestrictedAreas[restrictedAreas]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          values: data.editRestrictedAreas.restrictedAreas or currentIds,
          items: specialismItems
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
