{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Do you want to change the unit?" %}

{% block beforeContent %}
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }} – {{ hearing.type }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% set unitInset %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Current unit</h2>
        <p>{{ _case.unit.name }}</p>
      {% endset %}

      {{ govukInsetText({ html: unitInset }) }}

      <form method="post">
        {{
          govukRadios({
            name: "changeUnit",
            value: selectedChangeUnit,
            fieldset: {
              legend: {
                text: pageName,
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              { value: "Yes", text: "Yes" },
              { value: "No", text: "No" }
            ]
          })
        }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
