{% if annotations.length %}
  <div class="govuk-!-margin-bottom-6">
    {% for annotation in annotations %}
      {% if annotation.type == 'evidence' %}
        {% set typeLabel = 'Evidence' %}
        {% set typeColour = 'blue' %}
      {% else %}
        {% set typeLabel = 'Disclosure' %}
        {% set typeColour = 'purple' %}
      {% endif %}
      <div class="app-review-annotation-card app-review-annotation-card--{{ typeColour }}">
        <div
          class="app-review-annotation-card__header app-annotation-card__tag--{{ typeColour }}"
        >
          <p class="govuk-!-margin-bottom-0">{{ typeLabel }}</p>
          {% if annotationCardsShowChange | default(true) %}
            <p class="govuk-!-margin-bottom-0">
              <a
                href="/cases/{{ _case.id }}/review/documents/{{ annotation.caseReviewDocument.documentId }}#annotation-{{ annotation.id }}"
                class="govuk-link govuk-link--no-visited-state"
              >
                Change
                <span class="govuk-visually-hidden">{{ typeLabel | lower }} annotation</span>
              </a>
            </p>
          {% endif %}
        </div>
        <div class="app-review-annotation-card__body">
          {% if annotation.selectedText == 'Whole photo' %}
            <img
              src="/public/images/evidence-photo-placeholder.jpg"
              alt="{{ annotation.caseReviewDocument.document.name }}"
              class="app-review-annotation-card__photo"
            />
          {% else %}
            {% if annotation.timestampSeconds != null %}
              <video
                src="/public/videos/cctv-placeholder.mp4#t={{ annotation.timestampSeconds }}"
                class="app-review-annotation-card__video"
                controls
              ></video>
              <p class="app-review-annotation-card__label">Timestamp</p>
              <p>{{ annotation.selectedText }}</p>
            {% else %}
              <p>‘{{ annotation.selectedText | truncate(80) }}’</p>
            {% endif %}
          {% endif %}

          {% for link in annotation.elements %}
            {% if annotationCardsShowElementMeta | default(true) %}
              <p class="app-review-annotation-card__label">
                {{ link.element.description }}
              </p>
              <p class="govuk-!-margin-bottom-0">{{ link.reasoning }}</p>
              <p
                class="govuk-!-font-size-16 govuk-!-margin-bottom-{{ '0' if loop.last else '4' }}"
              >
                {{ link.element.charge.description }}
              </p>
            {% else %}
              <p class="govuk-!-margin-bottom-{{ '0' if loop.last else '4' }}">{{ link.reasoning }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
