.app-annotation-sidebar {
  width: 280px;
  flex-shrink: 0;
  padding: govuk-spacing(6) 0 govuk-spacing(6) govuk-spacing(4);
}

.app-annotation-sidebar__empty {
  color: govuk-colour("dark-grey");
  padding-top: govuk-spacing(6);
}


.app-annotation-card {
  background: govuk-colour("white");
  border: 1px solid #b1b4b6;
  cursor: pointer;

  &:hover {
    background-color: #f8f8f8;
  }

  &.is-selected {
    border: 2px solid govuk-colour("black");
    outline: 3px solid #ffdd00;
    outline-offset: 0;
  }
}

.app-annotation-card__tag {
  margin-top: 5px;

  .govuk-tag {
    background: none;
    @include govuk-font(16);
    padding: 5px 10px 0;
  }
}

.app-annotation-card__body {
  padding: govuk-spacing(2);
}

.app-annotation-card__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: govuk-spacing(1);
  margin-bottom: govuk-spacing(1);
}

.app-annotation-card__name {
  @include govuk-font(16);
  margin-bottom: 0;
  font-weight: bold;
}

.app-annotation-card__time {
  color: govuk-colour("dark-grey");
  flex-shrink: 0;
  @include govuk-font(16);
  margin-bottom: 0;
}

.app-annotation-card__note {
  @include govuk-font(16);
  margin-bottom: govuk-spacing(2);
}

.app-annotation-card__remove {
  @include govuk-font(16);
  display: none;

  .app-annotation-card.is-selected & {
    display: inline;
  }
}
