.app-annotation-sidebar {
  width: 280px;
  flex-shrink: 0;
  padding: govuk-spacing(5) 0 govuk-spacing(5) govuk-spacing(4);
}

.app-annotation-sidebar__empty {
  color: govuk-colour("dark-grey");
  padding-top: govuk-spacing(5);
}

.app-annotation-card {
  background: govuk-colour("white");
  // border: 1px solid #b1b4b6;
  @include app-box-shadow;
  cursor: pointer;
  margin-bottom: 8px;

  &:hover {
    // background-color: #f8f8f8;
    outline: 1px solid govuk-colour("blue");
    outline-offset: 0;
  }

  &.is-selected {
    border: 2px solid govuk-colour("black");
    outline: 3px solid #ffdd00;
    outline-offset: 0;
  }
}

.app-annotation-card__tag {
  padding: 5px 10px;

  &--blue {
    background: #cce0ff;
    color: #003078;
  }

  &--purple {
    background: #f3e5f5;
    color: #3d0e60;
  }

  &--orange {
    background: #fde8d8;
    color: #6e3619;
  }

  &--grey {
    background: #f3f2f1;
    color: #383f43;
  }

  &--yellow {
    background: govuk-colour("yellow", $variant: "tint-50");
    color: govuk-colour("orange", $variant: "shade-50");
  }
}

.app-annotation-type {
  &--blue {
    color: #003078;
  }

  &--purple {
    color: #3d0e60;
  }

  &--orange {
    color: #6e3619;
  }

  &--yellow {
    color: govuk-colour("orange", $variant: "shade-50");
  }
}

.app-annotation-card__body {
  padding: govuk-spacing(2);
}

.app-annotation-card__header {
  // display: flex;
  // justify-content: space-between;
  // align-items: baseline;
  // gap: govuk-spacing(1);
  // margin-bottom: govuk-spacing(1);
}

.app-annotation-card__name {
  @include govuk-font($size: 19);
  margin-bottom: 0;
  font-weight: bold;
}

.app-annotation-card__time {
  color: govuk-colour("dark-grey");
  flex-shrink: 0;
  @include govuk-font($size: 19);
  margin-bottom: 10px;
}

.app-annotation-card__note {
  @include govuk-font($size: 19);
  margin-bottom: govuk-spacing(2);
}

.app-annotation-card__actions {
  display: none;

  .app-annotation-card.is-selected & {
    display: flex;
  }
}
