.app-redaction {
  background: transparent;
  outline: 2px solid govuk-colour("red");
  border-radius: 2px;
  padding: 1px 0;
  cursor: pointer;
}

.app-redactions-hidden .app-redaction {
  outline: none;
  cursor: auto;
}
