{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Element strength" %}

{% block beforeContent %}
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ _case.reference }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {{ govukInsetText({ text: pointToProve.description }) }}

      <form method="post">
        <input type="hidden" name="from" value="{{ from }}">
        <input type="hidden" name="documentId" value="{{ documentId }}">

        {{ govukRadios({
          name: "strength",
          value: pointToProve.strength,
          fieldset: {
            legend: {
              text: "Strength of this element",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            { value: "Strong", text: "Strong" },
            { value: "Moderate", text: "Moderate" },
            { value: "Weak", text: "Weak" },
            { value: "Unknown", text: "Unknown" }
          ]
        }) }}

        {{ govukButton({ text: "Update strength of element" }) }}
      </form>
    </div>
  </div>
{% endblock %}
