{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'Check details and record dispute outcome' %}

{% set baseUrl = "/dga-reviews/" + monthKey + "/" + policeUnitId + "/" + case.id + "/" + failureReason.id + "/record-dispute-outcome" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: baseUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">{{ case.reference }}</span>
        <h1 class="govuk-heading-l">{{ pageName }}</h1>

        <div class="govuk-inset-text">
          <h2 class="govuk-heading-s">Failure reason</h2>
          {{ failureReason.reason }}
        </div>

        {% set methodsHtml %}
          {% if methods and methods.length > 0 %}
            <ul class="govuk-list govuk-list--bullet">
              {% for method in methods %}
                <li>{{ method }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endset %}

        {% set detailsText %}
          {% if details %}
            {{ details }}
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          rows: [{
            key: { text: "Dispute outcome" },
            value: { text: outcome },
            actions: {
              items: [
                {
                  href: baseUrl,
                  text: "Change",
                  visuallyHiddenText: "outcome"
                }
              ]
            }
          },{
            key: { text: "Reason for dispute outcome" },
            value: { text: detailsText },
            actions: {
              items: [
                {
                  href: baseUrl + "/explanation",
                  text: "Change",
                  visuallyHiddenText: "details"
                }
              ]
            }
          } if outcome != "Not disputed", {
            key: { text: "How did you discuss this dispute with the police?" },
            value: { html: methodsHtml },
            actions: {
              items: [
                {
                  href: baseUrl + "/method",
                  text: "Change",
                  visuallyHiddenText: "methods"
                }
              ]
            }
          } if outcome != "Not disputed"
          ] 
        }) }}

        <form method="post">
          {{ govukButton({
            text: "Record dispute outcome"
          }) }}
        </form>

      </div>
    </div>
  </div>
{% endblock %}
