{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = failureReason.reason %}

{% set baseUrl = "/dga-reviews/" + monthKey + "/" + policeUnitId + "/" + case.id + "/" + failureReason.id + "/record-dispute-outcome" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: baseUrl
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

  <span class="govuk-caption-l">{{ case.reference }}</span>
  <h1 class="govuk-heading-l">Check details and record decision</h1>

    <div class="govuk-inset-text">
    <h3 class="govuk-heading-s">Failure reason</h3>
        {{ failureReason.reason }}
  </div>

  <h2 class="govuk-heading-m"></h2>

  {% set methodsHtml %}
    {% if methods and methods.length > 0 %}
      <ul class="govuk-list govuk-list--bullet">
        {% for method in methods %}
          <li>{{ method }}</li>
        {% endfor %}
      </ul>
    {% else %}
      -
    {% endif %}
  {% endset %}

  {% set detailsText %}
    {% if details %}
      {{ details }}
    {% else %}
      -
    {% endif %}
  {% endset %}

  {% set summaryRows = [
    {
      key: { text: "Decision" },
      value: { text: outcome },
      actions: {
        items: [
          {
            href: baseUrl,
            text: "Change",
            visuallyHiddenText: "outcome"
          }
        ]
      }
    }
  ] %}

  {% if outcome != "Not disputed" %}
    {% set summaryRows = (summaryRows.push({
      key: { text: "Reason for this decision" },
      value: { text: detailsText },
      actions: {
        items: [
          {
            href: baseUrl + "/explanation",
            text: "Change",
            visuallyHiddenText: "details"
          }
        ]
      }
    }), summaryRows) %}

    {% set summaryRows = (summaryRows.push({
      key: { text: "How did you communicate with the police to make this decision?" },
      value: { html: methodsHtml },
      actions: {
        items: [
          {
            href: baseUrl + "/method",
            text: "Change",
            visuallyHiddenText: "methods"
          }
        ]
      }
    }), summaryRows) %}
  {% endif %}

  {{ govukSummaryList({
    rows: summaryRows
  }) }}

  <form method="post">
    {{ govukButton({
      text: "Record decision"
    }) }}
  </form>

  </div>
  </div>
  </div>
{% endblock %}
