{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = failureReason.reason %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/dga-reviews/" + monthKey + "/" + policeUnitId + "/" + case.id
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-l">{{ case.reference }}</span>
  <h1 class="govuk-heading-l">Record decision</h1>

  <div class="govuk-inset-text">
    <h2 class="govuk-heading-s">Failure reason</h2>
{{ failureReason.reason }}
</div>

  <form method="post">
    {{ govukRadios({
      name: "recordOutcome[outcome]",
      fieldset: {
        legend: {
          text: "Decision",
          classes: "govuk-fieldset__legend--m"
        }
      },
      value: selectedOutcome,
      items: [
        {
          value: "Disputed successfully",
          text: "Disputed successfully",
          hint: {
            text: "The police disagreed with the failure reason and we agree too"
          }
        },
        {
          value: "Disputed unsuccessfully",
          text: "Disputed unsuccessfully",
          hint: {
            text: "The police disagreed with the failure reason, but we think the failure reason is correct"
          }
        },
        {
          value: "Not disputed",
          text: "Not disputed",
          hint: {
            text: "The police agreed with the failure reason"
          }
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  </div>
  </div>
  </div>
{% endblock %}
