{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = "Offence" %}

{% block beforeContent %}
  {{
    govukBackLink({
      text: 'Back',
      href: '/cases/' + caseId + '/review/documents/' + documentId
    })
  }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }} – update offence</span>

      <form method="post">
        {{
          appCheckboxFilter({
            name: "changeOffence[chargeCodes]",
            classes: "offence-filter",
            attributes: { id: "offence-filter" },
            values: data.changeOffence.chargeCodes,
            fieldset: {
              legend: {
                text: pageName,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            maxHeight: true,
            items: offenceItems
          })
        }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    new App.ListFilter({
      container: $('.offence-filter'),
      textBox: {
        label: 'Find an offence'
      }
    })
  </script>
{% endblock %}
