{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{task.case.reference}} - Early advice manager triage {% endset %}
{% set pageName = "Do you want to create a task to remind you about when the police should respond back to you?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{caption}}</span>
      <form method="post">
        {{ govukRadios({
          name: "completeEarlyAdviceManagerTriage[createReminderTask]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: data.completeEarlyAdviceManagerTriage.createReminderTask == "Yes",
              conditional: {
                html: govukDateInput({
                  id: "reminderDueDate",
                  fieldset: {
                    legend: {
                      text: "Date you'll be reminded",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "For example, 31 3 2025"
                  },
                  items: [
                    {
                      name: "completeEarlyAdviceManagerTriage[reminderDueDate][day]",
                      label: "Day",
                      value: data.completeEarlyAdviceManagerTriage.reminderDueDate.day,
                      classes: "govuk-input--width-2"
                    },
                    {
                      name: "completeEarlyAdviceManagerTriage[reminderDueDate][month]",
                      label: "Month",
                      value: data.completeEarlyAdviceManagerTriage.reminderDueDate.month,
                      classes: "govuk-input--width-2"
                    },
                    {
                      name: "completeEarlyAdviceManagerTriage[reminderDueDate][year]",
                      label: "Year",
                      value: data.completeEarlyAdviceManagerTriage.reminderDueDate.year,
                      classes: "govuk-input--width-4"
                    }
                  ]
                })
              }
            },
            {
              value: "No",
              text: "No",
              checked: data.completeEarlyAdviceManagerTriage.createReminderTask == "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
