{% extends "layouts/main.html" %}

{% set navId = 'cases' %}
{% set caption %} {{task.case.reference}} - Early advice manager triage {% endset %}
{% set pageName = "Reasons for rejection" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.back()'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{caption}}</span>
      <form method="post">
        {{ govukCheckboxes({
          name: "completeEarlyAdviceManagerTriage[rejectionReasons]",
          fieldset: {
            legend: {
              text: pageName,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          values: data.completeEarlyAdviceManagerTriage.rejectionReasons,
          items: [
            {
              value: "Case Material not correctly received",
              text: "Case Material not correctly received",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][Case Material not correctly received]",
                  id: "rejection-details-case-material",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["Case Material not correctly received"]
                })
              }
            },
            {
              value: "No/missing Disclosure Schedule",
              text: "No/missing Disclosure Schedule",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][No/missing Disclosure Schedule]",
                  id: "rejection-details-disclosure",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["No/missing Disclosure Schedule"]
                })
              }
            },
            {
              value: "No MG3",
              text: "No MG3",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][No MG3]",
                  id: "rejection-details-no-mg3",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["No MG3"]
                })
              }
            },
            {
              value: "No/Incomplete Supervisors comments",
              text: "No/Incomplete Supervisors comments",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][No/Incomplete Supervisors comments]",
                  id: "rejection-details-supervisors",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["No/Incomplete Supervisors comments"]
                })
              }
            },
            {
              value: "No DV Checklist",
              text: "No DV Checklist",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][No DV Checklist]",
                  id: "rejection-details-dv-checklist",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["No DV Checklist"]
                })
              }
            },
            {
              value: "No/missing MG11s",
              text: "No/missing MG11s",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][No/missing MG11s]",
                  id: "rejection-details-mg11s",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["No/missing MG11s"]
                })
              }
            },
            {
              value: "No missing exhibits",
              text: "No missing exhibits",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][No missing exhibits]",
                  id: "rejection-details-exhibits",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["No missing exhibits"]
                })
              }
            },
            {
              value: "No summary of interview",
              text: "No summary of interview",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][No summary of interview]",
                  id: "rejection-details-no-summary",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["No summary of interview"]
                })
              }
            },
            {
              value: "Missing Suspect's previous convictions",
              text: "Missing Suspect's previous convictions",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][Missing Suspect's previous convictions]",
                  id: "rejection-details-missing-suspects",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["Missing Suspect's previous convictions"]
                })
              }
            },
            {
              value: "Missing Victim/Witness previous convictions",
              text: "Missing Victim/Witness previous convictions",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][Missing Victim/Witness previous convictions]",
                  id: "rejection-details-missing-victim",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["Missing Victim/Witness previous convictions"]
                })
              }
            },
            {
              value: "Hard media not provided",
              text: "Hard media not provided",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][Hard media not provided]",
                  id: "rejection-details-hard-media",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["Hard media not provided"]
                })
              }
            },
            {
              value: "Third party material not provided",
              text: "Third party material not provided",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][Third party material not provided]",
                  id: "rejection-details-third-party",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["Third party material not provided"]
                })
              }
            },
            {
              value: "Incompatible OIC contact details",
              text: "Incompatible OIC contact details",
              conditional: {
                html: govukCharacterCount({
                  name: "completeEarlyAdviceManagerTriage[rejectionDetails][Incompatible OIC contact details]",
                  id: "rejection-details-incompatible-oic",
                  maxlength: 250,
                  label: {
                    text: "Details (optional)"
                  },
                  value: data.completeEarlyAdviceManagerTriage.rejectionDetails["Incompatible OIC contact details"]
                })
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
