{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'overview' %}
{% set pageName = 'Overview' %}

{% block beforeContent %}
  {% include "_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {% include "_includes/case/navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Overview</h1>

      {{
        govukSummaryList({
          rows: [
            {
              key: {
                text: "URN"
              },
              value: {
                html: _case.reference
              }
            },
            {
              key: {
                text: "Operation name"
              },
              value: {
                html: _case.operationName
              }
            } if _case.operationName,
            {
              key: {
                text: "Unit"
              },
              value: {
                html: _case.unit.name
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Unit"
                  }
                ]
              }
            },
            {
              key: {
                text: "Complexity"
              },
              value: {
                html: _case.complexity + '<div class="govuk-!-margin-top-1"><a href="/cases/:caseId/complexity-calculation">How we calculated complexity</a></div>' | replace(':caseId', _case.id)
              },
              actions: {
                items: [
                  {
                    href: "/cases/:caseId/edit-complexity" | replace(':caseId', _case.id),
                    text: "Change",
                    visuallyHiddenText: "Complexity"
                  }
                ]
              }
            }
          ]
        })
      }}

      <h2 class="govuk-heading-m">Defendants</h2>

      {% if _case.defendants.length %}
        <div class="app-list">
          {% for defendant in _case.defendants %}
            <div class="app-list__item">
              <p class="govuk-body govuk-!-margin-bottom-0">
                <a href="/cases/{{ _case.id }}/defendants/{{ defendant.id }}" class="govuk-link govuk-link--no-visited-state">
                  {{ defendant.firstName }} {{ defendant.lastName }}
                </a>
              </p>
              <div class="app-list__actions">
                <strong class="govuk-tag {{ defendant.status | caseStatusTagClass }}">
                  {{ defendant.status }}
                </strong>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="govuk-body">No defendants.</p>
      {% endif %}

      {% if _case.hearings.length %}
        <h2 class="govuk-heading-m">Hearings</h2>
        <div class="app-list">
          {% for hearing in _case.hearings %}
            <div class="app-list__item">
              <p class="govuk-body govuk-!-margin-bottom-0">
                <a href="/cases/{{ _case.id }}/hearings/{{ hearing.id }}" class="govuk-link govuk-link--no-visited-state">
                  {{ hearing.type }}
                </a>
              </p>
              <div class="app-list__actions">
                <strong class="govuk-tag {{ hearing.status | hearingStatusTagClass }}">
                  {{ hearing.status | replace("Hearing ", "") | capitalize }}
                </strong>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <h2 class="govuk-heading-m">Prosecutor</h2>

      <p><a href="/cases/{{ _case.id }}/add-prosecutor">Add prosecutor</a></p>

      {% if _case.prosecutors.length %}
        <div class="app-list">
          {% for cp in _case.prosecutors %}
            <div class="app-list__item">
              <p class="govuk-body govuk-!-margin-bottom-0">
                {{ cp.user.firstName }}
                {{ cp.user.lastName }}{% if _case.prosecutors.length > 1 and cp.isLead %}(lead){% endif %}
              </p>
              <div class="app-list__actions">
                <a
                  href="/cases/{{ _case.id }}/prosecutors/{{ cp.id }}/remove"
                  class="govuk-link govuk-link--no-visited-state"
                >
                  Remove
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        {# <p>There is no assigned prosecutor.</p> #}
      {% endif %}

      <h2 class="govuk-heading-m">Paralegal officer</h2>

      <p><a href="/cases/{{ _case.id }}/add-paralegal-officer">Add paralegal officer</a></p>

      {% if _case.paralegalOfficers.length %}
        <div class="app-list">
          {% for cpo in _case.paralegalOfficers %}
            <div class="app-list__item">
              <p class="govuk-body govuk-!-margin-bottom-0">
                {{ cpo.user.firstName }} {{ cpo.user.lastName }}
              </p>
              <div class="app-list__actions">
                <a
                  href="/cases/{{ _case.id }}/paralegal-officers/{{ cpo.id }}/remove"
                  class="govuk-link govuk-link--no-visited-state"
                >
                  Remove
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        {# <p>There is no paralegal officer assigned.</p> #}
      {% endif %}
      {% if submittedReview %}
        <h2 class="govuk-heading-m">Summary</h2>

        {% if submittedReview.summary %}
          <p class="govuk-body">{{ submittedReview.summary }}</p>
        {% endif %}

        {% set evidenceItems = [] %}
        {% set disclosureItems = [] %}
        {% set missingItems = [] %}
        {% for docReview in submittedReview.documents %}
          {% for a in docReview.annotations %}
            {% if a.type == 'evidence' %}
              {% set evidenceItems = (evidenceItems.push({ annotation: a, documentName: docReview.document.name, documentId: docReview.document.id }), evidenceItems) %}
            {% elif a.type == 'disclosure' %}
              {% set disclosureItems = (disclosureItems.push({ annotation: a, documentName: docReview.document.name, documentId: docReview.document.id }), disclosureItems) %}
            {% else %}
              {% set missingItems = (missingItems.push({ annotation: a, documentName: docReview.document.name, documentId: docReview.document.id }), missingItems) %}
            {% endif %}
          {% endfor %}
        {% endfor %}

        {% if evidenceItems.length %}
          <h3 class="govuk-heading-s">Evidence</h3>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Annotation</th>
                <th scope="col" class="govuk-table__header">Note</th>
                <th scope="col" class="govuk-table__header">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for item in evidenceItems %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/cases/{{ _case.id }}/review/documents/{{ item.documentId }}" class="govuk-link">{{ item.annotation.selectedText | truncate(80) }}</a></td>
                  <td class="govuk-table__cell">{{ item.annotation.note }}</td>
                  <td class="govuk-table__cell">{{ item.documentName }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% if disclosureItems.length %}
          <h3 class="govuk-heading-s">Disclosure</h3>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Annotation</th>
                <th scope="col" class="govuk-table__header">Note</th>
                <th scope="col" class="govuk-table__header">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for item in disclosureItems %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/cases/{{ _case.id }}/review/documents/{{ item.documentId }}" class="govuk-link">{{ item.annotation.selectedText | truncate(80) }}</a></td>
                  <td class="govuk-table__cell">{{ item.annotation.note }}</td>
                  <td class="govuk-table__cell">{{ item.documentName }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% if missingItems.length %}
          <h3 class="govuk-heading-s">Police requests</h3>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Annotation</th>
                <th scope="col" class="govuk-table__header">Note</th>
                <th scope="col" class="govuk-table__header">Document</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for item in missingItems %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/cases/{{ _case.id }}/review/documents/{{ item.documentId }}" class="govuk-link">{{ item.annotation.selectedText | truncate(80) }}</a></td>
                  <td class="govuk-table__cell">{{ item.annotation.note }}</td>
                  <td class="govuk-table__cell">{{ item.documentName }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% endif %}

    </div>
  </div>
{% endblock %}
