{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'overview' %}
{% set pageName = 'Overview' %}

{% block beforeContent %}
  {% include "_includes/case/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {% include "_includes/success-banner.njk" %}
  {% include "_includes/case/navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Overview</h1>

      {% set defendantValue %}
        {% if _case.defendants.length %}
          <ul class="govuk-list govuk-list--bullet">
            {% for defendant in _case.defendants %}
              <li>
                {{defendant.firstName}} {{defendant.lastName}}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          No defendants
        {% endif %}
      {% endset %}

      {% set locationValue %}
        {{appAddress({ address: _case.location })}}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "URN"
            },
            value: {
              html: _case.reference
            }
          },
          {
            key: {
              text: "Operation name"
            },
            value: {
              html: _case.operationName
            }
          } if _case.operationName,
          {
            key: {
              text: "Location"
            },
            value: {
              html: locationValue
            }
          },
          {
            key: {
              text: "Unit"
            },
            value: {
              html: _case.unit.name
            }
          },
          {
            key: {
              text: "Complexity"
            },
            value: {
              html: _case.complexity + '<div class="govuk-!-margin-top-1"><a href="/cases/:caseId/complexity-calculation">How we calculated complexity</a></div>' | replace(':caseId', _case.id)
            },
            actions: {
              items: [
                {
                  href: "/cases/:caseId/edit-complexity" | replace(':caseId', _case.id),
                  text: "Change",
                  visuallyHiddenText: "Complexity"
                }
              ]
            }
          },
          {
            key: {
              text: "Defendants"
            },
            value: {
              html: defendantValue
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Prosecutors</h2>

      <p><a href="/cases/{{ _case.id }}/add-prosecutor">Add prosecutor</a></p>

      {% if _case.prosecutors.length %}
        <div class="app-list">
          {% for cp in _case.prosecutors %}
            <div class="app-list__item">
              <p class="govuk-body govuk-!-margin-bottom-0">
                {{ cp.user.firstName }} {{ cp.user.lastName }}{% if _case.prosecutors.length > 1 and cp.isLead %} (lead){% endif %}
              </p>
              <div class="app-list__actions">
                <a href="/cases/{{ _case.id }}/prosecutors/{{ cp.id }}/remove" class="govuk-link govuk-link--no-visited-state">Remove</a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no assigned prosecutors.</p>
      {% endif %}

      <h2 class="govuk-heading-m">Paralegal officers</h2>

      <p><a href="/cases/{{ _case.id }}/add-paralegal-officer">Add paralegal officer</a></p>

      {% if _case.paralegalOfficers.length %}
        <div class="app-list">
          {% for cpo in _case.paralegalOfficers %}
            <div class="app-list__item">
              <p class="govuk-body govuk-!-margin-bottom-0">
                {{ cpo.user.firstName }} {{ cpo.user.lastName }}
              </p>
              <div class="app-list__actions">
                <a href="/cases/{{ _case.id }}/paralegal-officers/{{ cpo.id }}/remove" class="govuk-link govuk-link--no-visited-state">Remove</a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no paralegal officers assigned to this case.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
