{% extends "_layouts/main.html" %}

{% set navId = 'cases' %}
{% set pageName = document.name %}
{% set mainClasses = "govuk-!-padding-bottom-0" %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
      items: [
        {
          text: _case.reference,
          href: '/cases/' + caseId
        },
        {
          text: document.name
        }
      ]
    })
  }}
{% endblock %}

{% block content %}
  <span class="govuk-caption-l">{{ _case.reference }}</span>
  <h1 class="govuk-heading-l">{{ document.name }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% set chargesHtml %}
        <ul class="govuk-list govuk-list--bullet">
          <li>Shoplifting</li>
          <li>Burglary</li>
        </ul>
      {% endset %}

      {{
        govukSummaryList({
          classes: "govuk-!-margin-bottom-2",
          rows: [
            {
              key: {
                text: "Charge"
              },
              value: {
                html: chargesHtml
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Add",
                    visuallyHiddenText: "Add"
                  },
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "Charge"
                  }
                ]
              }
            }
          ]
        })
      }}
    </div>
  </div>

  <div class="app-toolbar js-toolbar">
    <div class="app-toolbar__inner">
      <div class="govuk-button-group">
        {{ govukButton({ text: "Mark as unused", classes: "govuk-button--secondary", href: "#" }) }}
        {{ govukButton({ text: "Add information request note", classes: "govuk-button--secondary", href: "#" }) }}
      </div>
    </div>
  </div>

  <div class="app-document-area">
    <div class="app-document-layout">
      {% include "cases/documents/_document-pane.html" %}

      <aside class="app-annotation-sidebar" id="annotation-sidebar" aria-label="Annotations">
        <div class="app-annotation-sidebar__inner js-sidebar-inner">
          {% for annotation in annotations %}
            {% set typeLabel = 'Evidence' if annotation.type == 'evidence' else ('Disclosure' if annotation.type == 'disclosure' else ('Note' if annotation.type == 'note' else 'Information request note')) %}
            {% set tagColour = 'blue' if annotation.type == 'evidence' else ('purple' if annotation.type == 'disclosure' else ('yellow' if annotation.type == 'note' else 'orange')) %}
            <div
              class="app-annotation-card js-annotation-card app-annotation-card--{{ tagColour }}"
              data-annotation-id="{{ annotation.id }}"
            >
              <p class="app-annotation-card__tag govuk-!-margin-bottom-0">
                {{ typeLabel }}
              </p>

              <div class="app-annotation-card__body">
                <div class="app-annotation-card__header">
                  <p class="app-annotation-card__name">{{ user.firstName }} {{ user.lastName }}</p>
                  <p class="app-annotation-card__time">
                    {{ annotation.createdAt | isoDateString | govukDateTime }}
                  </p>
                </div>

                <p class="app-annotation-card__note js-annotation-note">{{ annotation.note }}</p>
              </div>
            </div>
          {% endfor %}

          {% if not annotations or not annotations.length %}
            <p class="app-annotation-sidebar__empty govuk-body-s js-sidebar-empty"></p>
          {% endif %}
        </div>
      </aside>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {{ super() }}
  <script src="/public/javascripts/components/annotation-panel.js"></script>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    new App.AnnotationPanel({ container: $('#document-content') })
    $('.js-annotation-note').each(function () {
      new App.TextExpander({ container: $(this), maxLength: 50 })
    })
  </script>
{% endblock %}
