{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}

{% block beforeContent %}
  {{ govukBackLink({ text: 'Back', href: 'javascript:history.back()' }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if eligibleDefendants %}
        <span class="govuk-caption-l">{{ _case.reference }} – accept case</span>
        <form method="post">
          {{ govukCheckboxes({
            name: "acceptCase[defendants]",
            fieldset: {
              legend: {
                text: "Which defendants are you accepting?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: defendantItems,
            values: selectedDefendantIds
          }) }}
          {{ govukButton({ text: "Continue" }) }}
        </form>
      {% else %}
        <span class="govuk-caption-l">{{ _case.reference }} – {{ defendant.firstName }} {{ defendant.lastName }}</span>
        <h1 class="govuk-heading-l">Confirm that you want to accept this case</h1>
        <form method="post">
          {{ govukButton({ text: "Accept case" }) }}
        </form>
        <p><a href="/cases/{{ _case.id }}/defendants/{{ defendant.id }}">Cancel</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}
