{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}
{% set pageName = "Check details and make charging decision" %}

{% set decisionLabels = {
  "charge": "Charge",
  "no-further-action": "No further action"
} %}

{% block beforeContent %}
  {{ govukBackLink({ text: 'Back', href: '/cases/' + _case.id + '/defendants/' + defendant.id + '/make-charging-decision' }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <span class="govuk-caption-l">{{ _case.reference }} – {{ defendant.firstName }} {{ defendant.lastName }} – make charging decision</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% set defendantNames %}{% for d in selectedDefendants %}{{ d.firstName }} {{ d.lastName }}{% if not loop.last %}, {% endif %}{% endfor %}{% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Decision" },
            value: { text: decisionLabels[data.chargingDecision.decision] },
            actions: {
              items: [{
                href: '/cases/' + _case.id + '/defendants/' + defendant.id + '/make-charging-decision',
                text: "Change",
                visuallyHiddenText: "decision"
              }]
            }
          },
          {
            key: { text: "Defendants" },
            value: { text: defendantNames },
            actions: {
              items: [{
                href: '/cases/' + _case.id + '/defendants/' + defendant.id + '/make-charging-decision/defendants',
                text: "Change",
                visuallyHiddenText: "defendants"
              }]
            }
          } if selectedDefendants
        ]
      }) }}

      <form method="post">
        {{ govukButton({ text: "Confirm decision" }) }}
      </form>
    </div>
  </div>
{% endblock %}
