{% extends "_layouts/main.html" %}
{% set hideNav = true %}
{% set pageName = "Prototype" %}

{% block content %}
  <form action="/account/sign-in" method="post" novalidate>
    {{
      govukRadios({
        name: "signIn[emailAddress]",
        fieldset: {
          legend: {
            text: "User",
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "rachael@cps.gov.uk",
            html: "<b>Rachael Harvey (Paralegal officer)</b>",
            hint: {
              html: "<ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-0'><li>Wessex Crown Court</li><li>Wessex RASSO</li></ul>"
            }
          },
          {
            value: "bruce@cps.gov.uk",
            html: "<b>Bruce Banner (Paralegal officer)</b> - Time limit testing",
            hint: {
              html: "<ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-0'><li>Wessex Crown Court</li><li>Wessex RASSO</li></ul>"
            }
          } if 1==2,
          {
            value: "simon@cps.gov.uk",
            html: "<b>Simon Whatley (Prosecutor)</b>",
            hint: {
              html: "<ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-0'><li>North Yorkshire Magistrates Court</li><li>South Yorkshire Magistrates Court</li><li>West Yorkshire Magistrates Court</li><li>Humberside Magistrates Court</li></ul>"
            }
          },
          {
            value: "kirsty@cps.gov.uk",
            html: "<b>Kirsty Priest (Prosecutor)</b>",
            hint: {
              html: "<ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-0'><li>Wessex Crown Court</li></ul>"
            }
          },
          {
            value: "tony@cps.gov.uk",
            html: "<b>Tony Stark (Casework assistant)</b>",
            hint: {
              html: "<ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-0'><li>Dorset Magistrates Court</li><li>Hampshire Magistrates Court</li><li>Wessex Crown Court</li><li>Wessex RASSO</li><li>Wessex CCU</li><li>Wessex Fraud</li><li>Wiltshire Magistrates Court</li></ul>"
            }
          },
          {
            value: "natasha@cps.gov.uk",
            html: "<b>Natasha Rogers (Manager)</b>",
            hint: {
              html: "<ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-0'><li>Dorset Magistrates Court</li><li>Hampshire Magistrates Court</li><li>Wessex Crown Court</li><li>Wessex RASSO</li><li>Wessex CCU</li><li>Wessex Fraud</li><li>Wiltshire Magistrates Court</li></ul>"
            }
          },
          {
            value: "dana@cps.gov.uk",
            html: "<b>Dana Grant (DGA)</b>",
            hint: {
              html: "<ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-0'><li>Dorset Magistrates Court</li><li>Hampshire Magistrates Court</li><li>Wessex Crown Court</li><li>Wessex RASSO</li><li>Wessex CCU</li><li>Wessex Fraud</li><li>Wiltshire Magistrates Court</li></ul>"
            }
          }
        ]
      })
    }}

    {{
      govukButton({
        text: "Sign in"
      })
    }}
  </form>
{% endblock %}
