{% set statusTagHtml %}
  {{ govukTag({
    text: _case.status,
    classes: (_case.status | caseStatusTagClass) + ' govuk-!-margin-left-2'
  }) }}
  {% for status in hearingStatuses %}
    {{ govukTag({
      text: status,
      classes: (status | hearingStatusTagClass) + ' govuk-!-margin-left-2'
    }) }}
  {% endfor %}
{% endset %}

{% set identityTitle %}
  <span class="govuk-!-margin-right-1">{{_case.reference}}</span>
  <b>
    {% if _case.operationName %}
      {{_case.operationName}}
    {% else %}
      {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}}
      {% if _case.defendants.length > 1 %}
        and {{_case.defendants.length - 1}} more
      {% endif %}
    {% endif %}
  </b>
  {{statusTagHtml | safe}}
{% endset %}

{% set descriptionHtml %}

  {% if _case.custodyTimeLimit %}
    <span class="govuk-!-display-block">Custody time limit ends {{ _case.custodyTimeLimit | isoDateString | govukDate }} ({{ _case.custodyTimeLimit | timeLimitStatus }})</span>
  {% endif %}
  {% if _case.statutoryTimeLimit %}
    <span class="govuk-!-display-block">Statutory time limit ends {{ _case.statutoryTimeLimit | isoDateString | govukDate }} ({{ _case.statutoryTimeLimit | timeLimitStatus }})</span>
  {% endif %}
  {% if _case.paceClock %}
    {% set paceStatus = _case.paceClock | paceClockStatus %}
    {% if paceStatus == 'expired' %}
      <span class="govuk-!-display-block">PACE clock expired on {{ _case.paceClock | isoDateString | govukDateTime }}</span>
    {% else %}
      <span class="govuk-!-display-block">PACE clock {{ paceStatus }} ({{ _case.paceClock | isoDateString | govukDateTime }})</span>
    {% endif %}
  {% endif %}
{% endset %}

{% if (_case.defendants | allCharged) and not (firstHearings | hasFirstHearing) %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Add first hearing',
          href: '/cases/' + _case.id + '/add-first-hearing'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.TRIAGE_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Accept case',
          href: '/cases/' + _case.id + '/accept'
        },
        {
          text: 'Reject case',
          href: '/cases/' + _case.id + '/reject',
          classes: 'govuk-button--secondary'
        }
      ]
    },
    {
      items: [
        {
          text: 'Placeholder action',
          href: '#',
          classes: 'govuk-button--secondary'
        },
        {
          text: 'Another action',
          href: '#',
          classes: 'govuk-button--secondary'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.POLICE_RESUBMISSION_PENDING %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Resubmitted',
          href: '/cases/' + _case.id + '/accept-resubmission',
          classes: 'app-button--blue'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.POLICE_CHARGING_INFORMATION_PENDING %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Information received',
          href: '/cases/' + _case.id + '/mark-information-received',
          classes: 'app-button--blue'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.CHARGING_DECISION_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Make charging decision',
          href: '/cases/' + _case.id + '/make-charging-decision'
        },
        {
          text: 'Request more information',
          href: '/cases/' + _case.id + '/request-more-information',
          classes: 'govuk-button--secondary'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.POLICE_AUTHORISED_CHARGE_PENDING %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Charges received',
          href: '/cases/' + _case.id + '/mark-charges-received',
          classes: 'app-button--blue'
        }
      ]
    }
  ] %}
{% else %}
  {% set identityBarMenus = [] %}
{% endif %}

{{ appIdentityBar({
  title: {
    html: identityTitle
  },
  description: {
    html: descriptionHtml
  } if (_case.custodyTimeLimit or _case.statutoryTimeLimit or _case.paceClock) and false,
  menus: identityBarMenus
})}}
