{% set statusTagHtml %}
  {{ govukTag({
    text: _case.status,
    classes: (_case.status | caseStatusTagClass) + ' govuk-!-margin-left-2'
  }) }}
{% endset %}

{% set identityTitle %}
  <span class="govuk-!-margin-right-1">{{_case.reference}}</span>
  <b>
    {% if _case.operationName %}
      {{_case.operationName}}
    {% else %}
      {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}}
      {% if _case.defendants.length > 1 %}
        and {{_case.defendants.length - 1}} more
      {% endif %}
    {% endif %}
  </b>
  {{statusTagHtml | safe}}
{% endset %}

{% set descriptionHtml %}
  
  {% if _case.custodyTimeLimit %}
    <span class="govuk-!-display-block">Custody time limit ends {{ _case.custodyTimeLimit | isoDateString | govukDate }} ({{ _case.custodyTimeLimit | timeLimitStatus }})</span>
  {% endif %}
  {% if _case.statutoryTimeLimit %}
    <span class="govuk-!-display-block">Statutory time limit ends {{ _case.statutoryTimeLimit | isoDateString | govukDate }} ({{ _case.statutoryTimeLimit | timeLimitStatus }})</span>
  {% endif %}
  {% if _case.paceClock %}
    {% set paceStatus = _case.paceClock | paceClockStatus %}
    {% if paceStatus == 'expired' %}
      <span class="govuk-!-display-block">PACE clock expired on {{ _case.paceClock | isoDateString | govukDateTime }}</span>
    {% else %}
      <span class="govuk-!-display-block">PACE clock {{ paceStatus }} ({{ _case.paceClock | isoDateString | govukDateTime }})</span>
    {% endif %}
  {% endif %}
{% endset %}

{% if _case.status == 'Ready for triage' %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Accept case',
          href: '/cases/' + _case.id + '/accept'
        },
        {
          text: 'Reject case',
          href: '/cases/' + _case.id + '/reject',
          classes: 'govuk-button--secondary'
        }
      ]
    },
    {
      items: [
        {
          text: 'Placeholder action',
          href: '#',
          classes: 'govuk-button--secondary'
        },
        {
          text: 'Another action',
          href: '#',
          classes: 'govuk-button--secondary'
        }
      ]
    }
  ] %}
{% elif _case.status == 'Ready to assign' %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Assign prosecutor',
          href: '/cases/' + _case.id + '/add-prosecutor'
        }
      ]
    },
    {
      items: [
        {
          text: 'Placeholder action',
          href: '#',
          classes: 'govuk-button--secondary'
        }
      ]
    }
  ] %}
{% elif _case.status == 'Ready to review' %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Charge',
          href: '/cases/' + _case.id + '/charge'
        },
        {
          text: 'Request more information',
          href: '/cases/' + _case.id + '/request-more-information',
          classes: 'govuk-button--secondary'
        }
      ]
    }
  ] %}
{% endif %}

{{ appIdentityBar({
  title: {
    html: identityTitle
  },
  description: {
    html: descriptionHtml
  } if (_case.custodyTimeLimit or _case.statutoryTimeLimit or _case.paceClock),
  menus: identityBarMenus
})}}
