{% set statusTagHtml %}
  {{ govukTag({
    text: _case.status,
    classes: (_case.status | caseStatusTagClass) + ' govuk-!-margin-left-2'
  }) }}
{% endset %}

{% set identityTitle %}
  <span class="govuk-!-margin-right-1">{{_case.reference}}</span>
  <b>
    {% if _case.operationName %}
      {{_case.operationName}}
    {% else %}
      {{_case.defendants[0].firstName}} {{_case.defendants[0].lastName}}
      {% if _case.defendants.length > 1 %}
        and {{_case.defendants.length - 1}} more
      {% endif %}
    {% endif %}
  </b>
  {{statusTagHtml | safe}}
{% endset %}

{% set descriptionHtml %}
  
  {% if _case.custodyTimeLimit %}
    <span class="govuk-!-display-block">Custody time limit ends {{ _case.custodyTimeLimit | isoDateString | govukDate }} ({{ _case.custodyTimeLimit | timeLimitStatus }})</span>
  {% endif %}
  {% if _case.statutoryTimeLimit %}
    <span class="govuk-!-display-block">Statutory time limit ends {{ _case.statutoryTimeLimit | isoDateString | govukDate }} ({{ _case.statutoryTimeLimit | timeLimitStatus }})</span>
  {% endif %}
  {% if _case.paceClock %}
    {% set paceStatus = _case.paceClock | paceClockStatus %}
    {% if paceStatus == 'expired' %}
      <span class="govuk-!-display-block">PACE clock expired on {{ _case.paceClock | isoDateString | govukDateTime }}</span>
    {% else %}
      <span class="govuk-!-display-block">PACE clock {{ paceStatus }} ({{ _case.paceClock | isoDateString | govukDateTime }})</span>
    {% endif %}
  {% endif %}
{% endset %}

{% if _case.status == caseStatuses.TRIAGE_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Accept case',
          href: '/cases/' + _case.id + '/accept'
        },
        {
          text: 'Reject case',
          href: '/cases/' + _case.id + '/reject',
          classes: 'govuk-button--secondary'
        }
      ]
    },
    {
      items: [
        {
          text: 'Placeholder action',
          href: '#',
          classes: 'govuk-button--secondary'
        },
        {
          text: 'Another action',
          href: '#',
          classes: 'govuk-button--secondary'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.WAITING_FOR_RESUBMISSION %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Resubmitted',
          href: '/cases/' + _case.id + '/accept-resubmission',
          classes: 'app-button--prototype'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.WAITING_FOR_INFORMATION_FOR_CHARGING_DECISION %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Information received',
          href: '/cases/' + _case.id + '/mark-information-received',
          classes: 'app-button--prototype'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.PROSECUTOR_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Assign prosecutor',
          href: '/cases/' + _case.id + '/add-prosecutor'
        }
      ]
    },
    {
      items: [
        {
          text: 'Placeholder action',
          href: '#',
          classes: 'govuk-button--secondary'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.CHARGING_DECISION_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Make charging decision',
          href: '/cases/' + _case.id + '/make-charging-decision'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.WAITING_FOR_POLICE_TO_CHARGE %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Charges received',
          href: '/cases/' + _case.id + '/mark-charges-received',
          classes: 'app-button--prototype'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.FIRST_HEARING_PREPARATION_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Add first hearing',
          href: '/cases/' + _case.id + '/add-first-hearing'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.WAITING_FOR_FIRST_HEARING %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'First hearing started',
          href: '/cases/' + _case.id + '/mark-first-hearing-happened',
          classes: 'app-button--prototype'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.FIRST_HEARING_OUTCOME_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Record outcome of first hearing',
          href: '/cases/' + _case.id + '/record-first-hearing-outcome'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.PTPH_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Add PTPH hearing',
          href: '/cases/' + _case.id + '/add-ptph-hearing'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.WAITING_FOR_PTPH_HEARING %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Mark PTPH as happened',
          href: '/cases/' + _case.id + '/mark-ptph-happened',
          classes: 'app-button--prototype'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.PTPH_HEARING_OUTCOME_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Record PTPH hearing outcome',
          href: '/cases/' + _case.id + '/record-ptph-hearing-outcome'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.TRIAL_PREPARATION_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Mark trial preparation as complete',
          href: '/cases/' + _case.id + '/mark-trial-preparation-complete'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.WAITING_FOR_OUTCOME_OF_TRIAL %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Trial started',
          href: '/cases/' + _case.id + '/mark-trial-concluded',
          classes: 'app-button--prototype'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.TRIAL_OUTCOME_NEEDED %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Record trial outcome',
          href: '/cases/' + _case.id + '/record-trial-outcome'
        }
      ]
    }
  ] %}
{% elif _case.status == caseStatuses.WAITING_FOR_SENTENCING %}
  {% set identityBarMenus = [
    {
      items: [
        {
          text: 'Record sentence',
          href: '/cases/' + _case.id + '/record-sentence'
        }
      ]
    }
  ] %}
{% endif %}

{{ appIdentityBar({
  title: {
    html: identityTitle
  },
  description: {
    html: descriptionHtml
  } if (_case.custodyTimeLimit or _case.statutoryTimeLimit or _case.paceClock),
  menus: identityBarMenus
})}}
