{{ xGovukSecondaryNavigation({
  classes: 'govuk-!-margin-bottom-6 app-secondary-navigation',
  visuallyHiddenTitle: "Secondary menu",
  items: [{
    text: "Overview",
    href: "/cases/:caseId" | replace(':caseId', _case.id),
    current: secondaryNavId == 'overview'
  },
  {
    text: "Key evidence",
    href: "/cases/:caseId/key-evidence" | replace(':caseId', _case.id),
    current: secondaryNavId == 'key-evidence'
  } if false,
  {
    text: "Defendants",
    href: "/cases/:caseId/defendants" | replace(':caseId', _case.id),
    current: secondaryNavId == 'defendants'
  },
  {
    text: "Hearings",
    href: "/cases/:caseId/hearings" | replace(':caseId', _case.id),
    current: secondaryNavId == 'hearings'
  },  
  {
    text: "Directions",
    href: "/cases/:caseId/directions" | replace(':caseId', _case.id),
    current: secondaryNavId == 'directions'
  },
  {
    text: "Tasks",
    href: "/cases/:caseId/tasks" | replace(':caseId', _case.id),
    current: secondaryNavId == 'tasks'
  } if false, {
    text: "CTL log",
    href: "/cases/:caseId/ctl-log" | replace(':caseId', _case.id),
    current: secondaryNavId == 'ctl-log'
  } if _case.custodyTimeLimit and false,
  {
    text: "DGA reporting",
    href: "/cases/:caseId/dga" | replace(':caseId', _case.id),
    current: secondaryNavId == 'dga'
  } if _case.dga and _case.dga.recordDisputeOutcomesDeadline, 
  {
    text: "Witnesses",
    href: "/cases/:caseId/witnesses" | replace(':caseId', _case.id),
    current: secondaryNavId == 'witnesses'
  }, {
    href: "/cases/:caseId/documents" | replace(':caseId', _case.id),
    text: "Material",
    current: secondaryNavId == 'documents'
  }, {
    text: "Police requests",
    href: "/cases/:caseId/police-requests" | replace(':caseId', _case.id),
    current: secondaryNavId == 'police-requests'
  }, {
    text: "Notes",
    href: "/cases/:caseId/notes" | replace(':caseId', _case.id),
    current: secondaryNavId == 'notes'
  }, {
    text: "Activity",
    href: "/cases/:caseId/activity" | replace(':caseId', _case.id),
    current: secondaryNavId == 'activity'
  }]
})}}