{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'DGA' %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{pageName}}</h1>

      {% if months.length === 0 %}
        <p class="govuk-body">No DGA cases found.</p>
      {% else %}
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          {% for month in months %}
            <li>
              <a href="/cases/dga/{{ month.key }}">{{ month.name }}</a>
              {% if month.totalCases > 0 %}
                ({{ month.totalCases - month.completedCases }} of {{ month.totalCases }} cases still need update)
              {% endif %}
              {% if month.completedCases === month.totalCases and month.totalCases > 0 %}
                {{ govukTag({
                  text: "Completed"
                }) }}
              {% endif %}
              {% if month.deadline %}
                <br>Freeze date: {{ month.deadline | isoDateString | govukDateTime }}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

    </div>
  </div>
{% endblock %}
