{% extends "layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'DGA cases' %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "DGA",
        href: "/cases/dga"
      },
      {
        text: monthName,
        href: "/cases/dga/" + monthKey
      },
      {
        text: policeUnitName
      }
    ]
  }) }}
{% endblock beforeContent %}

{% block content %}
  {% include "_includes/success-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ policeUnitName }} - {{ monthName }}</span>
      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      {% if cases.length %}
        <div class="app-list">
          {% for caseItem in cases %}
          <div class="app-list__item">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              <div>
                <a href="/cases/dga/{{ monthKey }}/{{ policeUnitName | slugify }}/{{ caseItem.id }}" class="govuk-link--no-visited-state">
                  {{ caseItem.reference }}
                </a>
              </div>
              <div class="app-list__tag">
                {% if caseItem.reportStatus == "Completed" %}
                {{ govukTag({
                  text: "Completed",
                  classes: "govuk-tag--blue"
                }) }}
              {% elif caseItem.reportStatus == "In progress" %}
                {{ govukTag({
                  text: "In progress",
                  classes: "govuk-tag--yellow"
                }) }}
              {% else %}
                {{ govukTag({
                  text: "Not started",
                  classes: "govuk-tag--red"
                }) }}
              {% endif %}
            </div>
            </h2>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no cases for this police unit.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
