{% extends "_layouts/main.html" %}
{% set navId = 'cases' %}
{% set secondaryNavId = 'dga' %}
{% set pageName = 'How did you discuss this dispute with the police?' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/" + case.id + "/dga/" + failureReason.id + "/record-dispute-outcome/reason"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ case.reference }}</span>
      <h1 class="govuk-heading-l">Tell us how you discussed this dispute with the police</h1>

      {% include "_includes/record-dispute-outcome/failure-reason-inset.njk" %}

      <form method="post">
        {{ govukCheckboxes({
          name: "recordOutcome[methods]",
          fieldset: {
            legend: {
              text: pageName,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: { text: "Select all that apply" },
          items: [
            { value: "Email", text: "Email", checked: selectedMethods and "Email" in selectedMethods },
            { value: "Meeting", text: "Meeting", checked: selectedMethods and "Meeting" in selectedMethods },
            { value: "Phone call", text: "Phone call", checked: selectedMethods and "Phone call" in selectedMethods }
          ]
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>
{% endblock %}
